/**
 * Theme Name: MCC Theme
 * Author: 502 Media Group
 * Author URI: http://502mediagroup.com/
 * Version: 1.2
 */
/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

template {
  display: none !important; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.container {
  max-width: 1220px;
  margin-left: auto;
  margin-right: auto;
  padding-left: .5rem;
  padding-right: .5rem; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }
  @media (min-width: 56.25em) {
    .container {
      padding-left: 1rem;
      padding-right: 1rem; } }
  @media (min-width: 78.125em) {
    .container {
      padding-left: 0;
      padding-right: 0; } }

@media screen and (min-width: 600px) {
  .content-column:not(.last_column) {
    padding-right: 2em; } }

.ginput_container .ginput_container_repeater-end > span {
  margin: 1rem;
  display: inline-block !important; }
  .ginput_container .ginput_container_repeater-end > span img {
    vertical-align: text-bottom; }

input[type="text"], textarea, input[type="email"], input[type="phone"], select {
  border-color: #1E2D3E;
  border-width: 1px; }
  input[type="text"]:focus, textarea:focus, input[type="email"]:focus, input[type="phone"]:focus, select:focus {
    outline: 1px solid #DAA14C;
    border-color: #DAA14C; }

.gform_wrapper .gfield_checkbox li input, .gform_wrapper .gfield_checkbox li input[type=checkbox], .gform_wrapper .gfield_radio li input[type=radio] {
  vertical-align: baseline; }

table.dataTable {
  width: 100%;
  margin: 0 auto;
  clear: both;
  border-collapse: separate;
  border-spacing: 0; }

table.dataTable thead th, table.dataTable tfoot th {
  font-weight: bold; }

table.dataTable thead th, table.dataTable thead td {
  padding: 10px 18px;
  border-bottom: 1px solid #111; }

table.dataTable thead th:active, table.dataTable thead td:active {
  outline: none; }

table.dataTable tfoot th, table.dataTable tfoot td {
  padding: 10px 18px 6px 18px;
  border-top: 1px solid #111; }

table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
  cursor: pointer;
  *cursor: hand;
  background-repeat: no-repeat;
  background-position: center right; }

table.dataTable thead .sorting {
  background-image: url("static/images/sort_both.png"); }

table.dataTable thead .sorting_asc {
  background-image: url("static/images/sort_asc.png"); }

table.dataTable thead .sorting_desc {
  background-image: url("static/images/sort_desc.png"); }

table.dataTable thead .sorting_asc_disabled {
  background-image: url("static/images/sort_asc_disabled.png"); }

table.dataTable thead .sorting_desc_disabled {
  background-image: url("static/images/sort_desc_disabled.png"); }

table.dataTable tbody tr {
  background-color: #ffffff; }

table.dataTable tbody tr.selected {
  background-color: #B0BED9; }

table.dataTable tbody th, table.dataTable tbody td {
  padding: 8px 10px; }

table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
  border-top: 1px solid #ddd; }

table.dataTable.row-border tbody tr:first-child th, table.dataTable.row-border tbody tr:first-child td, table.dataTable.display tbody tr:first-child th, table.dataTable.display tbody tr:first-child td {
  border-top: none; }

table.dataTable.cell-border tbody th, table.dataTable.cell-border tbody td {
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd; }

table.dataTable.cell-border tbody tr th:first-child, table.dataTable.cell-border tbody tr td:first-child {
  border-left: 1px solid #ddd; }

table.dataTable.cell-border tbody tr:first-child th, table.dataTable.cell-border tbody tr:first-child td {
  border-top: none; }

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
  background-color: #f9f9f9; }

table.dataTable.stripe tbody tr.odd.selected, table.dataTable.display tbody tr.odd.selected {
  background-color: #acbad4; }

table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
  background-color: #f6f6f6; }

table.dataTable.hover tbody tr:hover.selected, table.dataTable.display tbody tr:hover.selected {
  background-color: #aab7d1; }

table.dataTable.order-column tbody tr > .sorting_1, table.dataTable.order-column tbody tr > .sorting_2, table.dataTable.order-column tbody tr > .sorting_3, table.dataTable.display tbody tr > .sorting_1, table.dataTable.display tbody tr > .sorting_2, table.dataTable.display tbody tr > .sorting_3 {
  background-color: #fafafa; }

table.dataTable.order-column tbody tr.selected > .sorting_1, table.dataTable.order-column tbody tr.selected > .sorting_2, table.dataTable.order-column tbody tr.selected > .sorting_3, table.dataTable.display tbody tr.selected > .sorting_1, table.dataTable.display tbody tr.selected > .sorting_2, table.dataTable.display tbody tr.selected > .sorting_3 {
  background-color: #acbad5; }

table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
  background-color: #f1f1f1; }

table.dataTable.display tbody tr.odd > .sorting_2, table.dataTable.order-column.stripe tbody tr.odd > .sorting_2 {
  background-color: #f3f3f3; }

table.dataTable.display tbody tr.odd > .sorting_3, table.dataTable.order-column.stripe tbody tr.odd > .sorting_3 {
  background-color: whitesmoke; }

table.dataTable.display tbody tr.odd.selected > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_1 {
  background-color: #a6b4cd; }

table.dataTable.display tbody tr.odd.selected > .sorting_2, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_2 {
  background-color: #a8b5cf; }

table.dataTable.display tbody tr.odd.selected > .sorting_3, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_3 {
  background-color: #a9b7d1; }

table.dataTable.display tbody tr.even > .sorting_1, table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
  background-color: #fafafa; }

table.dataTable.display tbody tr.even > .sorting_2, table.dataTable.order-column.stripe tbody tr.even > .sorting_2 {
  background-color: #fcfcfc; }

table.dataTable.display tbody tr.even > .sorting_3, table.dataTable.order-column.stripe tbody tr.even > .sorting_3 {
  background-color: #fefefe; }

table.dataTable.display tbody tr.even.selected > .sorting_1, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_1 {
  background-color: #acbad5; }

table.dataTable.display tbody tr.even.selected > .sorting_2, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_2 {
  background-color: #aebcd6; }

table.dataTable.display tbody tr.even.selected > .sorting_3, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_3 {
  background-color: #afbdd8; }

table.dataTable.display tbody tr:hover > .sorting_1, table.dataTable.order-column.hover tbody tr:hover > .sorting_1 {
  background-color: #eaeaea; }

table.dataTable.display tbody tr:hover > .sorting_2, table.dataTable.order-column.hover tbody tr:hover > .sorting_2 {
  background-color: #ececec; }

table.dataTable.display tbody tr:hover > .sorting_3, table.dataTable.order-column.hover tbody tr:hover > .sorting_3 {
  background-color: #efefef; }

table.dataTable.display tbody tr:hover.selected > .sorting_1, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_1 {
  background-color: #a2aec7; }

table.dataTable.display tbody tr:hover.selected > .sorting_2, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_2 {
  background-color: #a3b0c9; }

table.dataTable.display tbody tr:hover.selected > .sorting_3, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_3 {
  background-color: #a5b2cb; }

table.dataTable.no-footer {
  border-bottom: 1px solid #111; }

table.dataTable.nowrap th, table.dataTable.nowrap td {
  white-space: nowrap; }

table.dataTable.compact thead th, table.dataTable.compact thead td {
  padding: 4px 17px 4px 4px; }

table.dataTable.compact tfoot th, table.dataTable.compact tfoot td {
  padding: 4px; }

table.dataTable.compact tbody th, table.dataTable.compact tbody td {
  padding: 4px; }

table.dataTable th.dt-left, table.dataTable td.dt-left {
  text-align: left; }

table.dataTable th.dt-center, table.dataTable td.dt-center, table.dataTable td.dataTables_empty {
  text-align: center; }

table.dataTable th.dt-right, table.dataTable td.dt-right {
  text-align: right; }

table.dataTable th.dt-justify, table.dataTable td.dt-justify {
  text-align: justify; }

table.dataTable th.dt-nowrap, table.dataTable td.dt-nowrap {
  white-space: nowrap; }

table.dataTable thead th.dt-head-left, table.dataTable thead td.dt-head-left, table.dataTable tfoot th.dt-head-left, table.dataTable tfoot td.dt-head-left {
  text-align: left; }

table.dataTable thead th.dt-head-center, table.dataTable thead td.dt-head-center, table.dataTable tfoot th.dt-head-center, table.dataTable tfoot td.dt-head-center {
  text-align: center; }

table.dataTable thead th.dt-head-right, table.dataTable thead td.dt-head-right, table.dataTable tfoot th.dt-head-right, table.dataTable tfoot td.dt-head-right {
  text-align: right; }

table.dataTable thead th.dt-head-justify, table.dataTable thead td.dt-head-justify, table.dataTable tfoot th.dt-head-justify, table.dataTable tfoot td.dt-head-justify {
  text-align: justify; }

table.dataTable thead th.dt-head-nowrap, table.dataTable thead td.dt-head-nowrap, table.dataTable tfoot th.dt-head-nowrap, table.dataTable tfoot td.dt-head-nowrap {
  white-space: nowrap; }

table.dataTable tbody th.dt-body-left, table.dataTable tbody td.dt-body-left {
  text-align: left; }

table.dataTable tbody th.dt-body-center, table.dataTable tbody td.dt-body-center {
  text-align: center; }

table.dataTable tbody th.dt-body-right, table.dataTable tbody td.dt-body-right {
  text-align: right; }

table.dataTable tbody th.dt-body-justify, table.dataTable tbody td.dt-body-justify {
  text-align: justify; }

table.dataTable tbody th.dt-body-nowrap, table.dataTable tbody td.dt-body-nowrap {
  white-space: nowrap; }

table.dataTable, table.dataTable th, table.dataTable td {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; }

.dataTables_wrapper {
  position: relative;
  clear: both;
  *zoom: 1;
  zoom: 1; }

.dataTables_wrapper .dataTables_length {
  float: left; }

.dataTables_wrapper .dataTables_filter {
  float: right;
  text-align: right; }

.dataTables_wrapper .dataTables_filter input {
  margin-left: 0.5em; }

.dataTables_wrapper .dataTables_info {
  clear: both;
  float: left;
  padding-top: 0.755em; }

.dataTables_wrapper .dataTables_paginate {
  float: right;
  text-align: right;
  padding-top: 0.25em; }

.dataTables_wrapper .dataTables_paginate .paginate_button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0.5em 1em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  *cursor: hand;
  color: #333 !important;
  border: 1px solid transparent;
  border-radius: 2px; }

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #333 !important;
  border: 1px solid #979797;
  background-color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
  background: linear-gradient(to bottom, #fff 0%, #dcdcdc 100%); }

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  cursor: default;
  color: #666 !important;
  border: 1px solid transparent;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none; }

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: white !important;
  border: 1px solid #111;
  background-color: #585858;
  background: -webkit-gradient(linear, left top, left bottom, from(#585858), to(#111));
  background: linear-gradient(to bottom, #585858 0%, #111 100%); }

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  outline: none;
  background-color: #2b2b2b;
  background: -webkit-gradient(linear, left top, left bottom, from(#2b2b2b), to(#0c0c0c));
  background: linear-gradient(to bottom, #2b2b2b 0%, #0c0c0c 100%);
  -webkit-box-shadow: inset 0 0 3px #111;
          box-shadow: inset 0 0 3px #111; }

.dataTables_wrapper .dataTables_paginate .ellipsis {
  padding: 0 1em; }

.dataTables_wrapper .dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 40px;
  margin-left: -50%;
  margin-top: -25px;
  padding-top: 20px;
  text-align: center;
  font-size: 1.2em;
  background-color: white;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(25%, rgba(255, 255, 255, 0.9)), color-stop(75%, rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%); }

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
  color: #333; }

.dataTables_wrapper .dataTables_scroll {
  clear: both; }

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {
  *margin-top: -1px;
  -webkit-overflow-scrolling: touch; }

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > th, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > td, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > th, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > td {
  vertical-align: middle; }

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > th > div.dataTables_sizing, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > td > div.dataTables_sizing, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > th > div.dataTables_sizing, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > td > div.dataTables_sizing {
  height: 0;
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important; }

.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: 1px solid #111; }

.dataTables_wrapper.no-footer div.dataTables_scrollHead table.dataTable, .dataTables_wrapper.no-footer div.dataTables_scrollBody > table {
  border-bottom: none; }

.dataTables_wrapper:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0; }

@media screen and (max-width: 767px) {
  .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_paginate {
    float: none;
    text-align: center; }
  .dataTables_wrapper .dataTables_paginate {
    margin-top: 0.5em; } }

@media screen and (max-width: 640px) {
  .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter {
    float: none;
    text-align: center; }
  .dataTables_wrapper .dataTables_filter {
    margin-top: 0.5em; } }

.table-scroll {
  position: relative;
  margin-top: 1.5em;
  margin-bottom: 1.5em; }
  .table-scroll:after, .table-scroll:before {
    content: 'Scroll for more information \f105';
    font-family: "FontAwesome", "Roboto Slab", Times New Roman, serif;
    position: absolute;
    right: 0;
    display: none; }
    @media (max-width: 76.25em) {
      .table-scroll:after, .table-scroll:before {
        display: block; } }
  .table-scroll:after {
    bottom: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%); }
  .table-scroll:before {
    top: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }

.give-padding {
  padding-left: .75rem;
  padding-right: .75rem; }

.v-align-middle * {
  vertical-align: middle; }

.centered-text {
  text-align: center; }

.right-text {
  text-align: right; }

.align-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media screen and (max-width: 480px) {
    .align-center {
      display: block; } }

.alignright {
  float: right; }

img.aligncenter {
  display: block;
  margin: 1.5em auto;
  clear: both;
  width: 100%; }

.alignnone {
  float: none;
  display: block;
  width: 100%; }
  .alignnone a.imgwrap {
    display: block; }
  .alignnone img {
    display: block;
    margin: 0 auto; }

img.alignnone {
  display: block;
  clear: both;
  margin: 1.5em auto; }

.alignleft {
  float: left; }

img.alignright {
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em; }

img.alignleft {
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em; }

.wp-caption {
  background: #e7edf3;
  padding: 1.5em 1em;
  margin: 1.5rem 0; }
  .wp-caption:after {
    content: "";
    display: table;
    clear: both; }
  .wp-caption .wp-caption-text {
    margin: 0;
    margin-top: 1.5em; }

.full-width {
  margin-left: -30vw;
  margin-right: -30vw;
  padding-left: 30vw;
  padding-right: 30vw;
  overflow: hidden; }

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }
  .screen-reader-text:focus {
    background-color: #eee;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
            box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #333;
    display: block;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */ }

.magnific {
  position: relative;
  background: #FFF;
  padding: 1rem;
  width: 80%;
  max-width: 500px;
  margin: 0 auto; }
  .magnific .mfp-close {
    margin: 0; }

.mfp-content {
  -webkit-animation: slideInUp 350ms 1;
          animation: slideInUp 350ms 1; }

.mfp-close {
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none; }
  .mfp-close:hover {
    -webkit-box-shadow: none;
            box-shadow: none; }

.mfp-bg.mfp-removing {
  opacity: 0;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear; }

.mfp-wrap.mfp-removing .mfp-content {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear; }

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100vh, 0);
            transform: translate3d(0, 100vh, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100vh, 0);
            transform: translate3d(0, 100vh, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

.slideInUp {
  -webkit-animation-name: slideInUp;
          animation-name: slideInUp; }

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.uppercase {
  text-transform: uppercase !important; }

.bold {
  font-weight: 700 !important; }

.white-text {
  color: #FFF; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.no-margin-bottom {
  margin-bottom: 0 !important; }

.half-container {
  max-width: 610px;
  margin-left: auto;
  margin-right: auto; }

.u-block {
  display: block; }

html, body {
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto Slab", Times New Roman, serif;
  overflow-x: hidden;
  background: transparent;
  color: #1E2D3E;
  background: #FFF; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", Helvetica, Arial, sans-serif; }

h1 {
  text-transform: uppercase;
  font-size: 2em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.17em; }

h4, h5, h6 {
  font-size: 1em;
  margin-top: 1em;
  margin-bottom: 1em; }

img {
  max-width: 100%;
  height: auto; }

#header {
  margin-top: 1.6949152542%;
  font-family: "Lato", Helvetica, Arial, sans-serif; }
  #header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  #header .main-nav-wrapper {
    margin-bottom: 1rem; }
  #header .nav-wrapper {
    background: #041E42;
    display: none; }
    #header .nav-wrapper:after {
      content: "Loading Menu...";
      display: block; }
    #header .nav-wrapper.loaded {
      display: block; }
      #header .nav-wrapper.loaded:after {
        content: "";
        display: none; }

#logo {
  display: block;
  width: 32.2033898305%;
  float: left;
  margin-right: 1.6949152542%; }
  @media (min-width: 56.25em) {
    #logo {
      width: 15.2542372881%;
      float: left;
      margin-right: 1.6949152542%; } }

#header .header-search .search-fields-wrapper {
  position: relative; }
  #header .header-search .search-fields-wrapper:before {
    content: '\f002';
    font-family: 'FontAwesome', sans-serif;
    position: absolute;
    top: .2rem;
    left: .5rem; }

#header .header-search #searchform input[type="text"] {
  display: block;
  width: 100%;
  margin: 0;
  border: 1px solid #1E2D3E;
  border-radius: 2rem;
  padding: .25rem 0 .25rem 1.75rem;
  font-family: "Lato", Helvetica, Arial, sans-serif; }

#header .header-search #searchform #searchsubmit {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

#nav-main {
  position: relative; }

#header #primary-menu {
  width: 66.1016949153%;
  float: left;
  margin-right: 1.6949152542%;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  #header #primary-menu a {
    color: #FFF;
    padding: 1.5rem 1.25rem;
    display: inline-block;
    text-transform: uppercase; }
  #header #primary-menu > li:hover a, #header #primary-menu li:focus a {
    background: #FFF;
    color: #041E42;
    text-decoration: none; }
  #header #primary-menu > .menu-item-has-children:hover .mega-menu-wrapper, #header #primary-menu > .menu-item-has-children:focus .mega-menu-wrapper {
    opacity: 1;
    pointer-events: auto; }
  #header #primary-menu > .menu-item-has-children > a:hover ~ .mega-menu-wrapper, #header #primary-menu > .menu-item-has-children > a:focus ~ .mega-menu-wrapper, #header #primary-menu > .menu-item-has-children > a.has-focus ~ .mega-menu-wrapper {
    opacity: 1;
    pointer-events: auto; }
  #header #primary-menu .mega-menu-wrapper {
    position: absolute;
    background: #FFF;
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    z-index: 100;
    left: 0;
    -webkit-box-shadow: 2px 8px 24px -12px #1E2D3E;
            box-shadow: 2px 8px 24px -12px #1E2D3E; }
    #header #primary-menu .mega-menu-wrapper:after {
      content: " ";
      display: block;
      clear: both; }
    #header #primary-menu .mega-menu-wrapper[data-has-focus="true"] {
      opacity: 1;
      pointer-events: auto; }
    #header #primary-menu .mega-menu-wrapper .sub-menu {
      width: 18.3673469388%;
      float: left;
      margin-right: 2.0408163265%;
      list-style: none;
      padding: 0;
      margin: 0;
      margin-bottom: 2rem;
      padding-left: 2rem; }
      #header #primary-menu .mega-menu-wrapper .sub-menu:nth-child(5) {
        width: 18.3673469388%;
        float: right;
        margin-right: 0; }
      #header #primary-menu .mega-menu-wrapper .sub-menu li {
        border-left: 1px solid #BCBEC0; }
        #header #primary-menu .mega-menu-wrapper .sub-menu li a {
          text-transform: none;
          display: block;
          color: #1E2D3E;
          font-size: .8em;
          padding: .25rem;
          padding-left: 1rem;
          font-weight: normal; }
          #header #primary-menu .mega-menu-wrapper .sub-menu li a:hover {
            background: #e7edf3; }
      #header #primary-menu .mega-menu-wrapper .sub-menu .sub-menu-header {
        border-left: none;
        margin-top: 2rem; }
        #header #primary-menu .mega-menu-wrapper .sub-menu .sub-menu-header a {
          text-transform: uppercase;
          padding-left: 0;
          color: #041E42;
          font-size: 1rem;
          font-weight: bold; }
          #header #primary-menu .mega-menu-wrapper .sub-menu .sub-menu-header a:hover, #header #primary-menu .mega-menu-wrapper .sub-menu .sub-menu-header a:focus {
            background: none; }

#header #tertiary-menu {
  width: 32.2033898305%;
  float: right;
  margin-right: 0;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  #header #tertiary-menu li:first-child {
    margin-right: 1rem; }
  #header #tertiary-menu a {
    color: #FFF;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: .75em;
    padding: .5rem 1.5rem; }
    #header #tertiary-menu a:hover, #header #tertiary-menu a:focus {
      background: #FFF;
      color: #DAA14C;
      text-decoration: none; }
  #header #tertiary-menu li:first-child a {
    background: #95B8D4;
    color: #041E42; }
    #header #tertiary-menu li:first-child a:hover, #header #tertiary-menu li:first-child a:focus {
      background: #FFF;
      color: #041E42; }
  #header #tertiary-menu li:last-child a {
    background: #FFF;
    color: #041E42; }
    #header #tertiary-menu li:last-child a:hover, #header #tertiary-menu li:last-child a:focus {
      background: #DAA14C;
      color: #4B3F23; }

#header #primary-menu > li > a, #tertiary-menu > li > a {
  font-size: .75em; }
  @media (min-width: 76.25em) {
    #header #primary-menu > li > a, #tertiary-menu > li > a {
      font-size: 1em; } }

#header #nav-secondary {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (min-width: 76.25em) {
    #header #nav-secondary {
      width: 74.5762711864%;
      float: right;
      margin-right: 0; } }
  #header #nav-secondary #secondary-menu {
    width: 65.9090909091%;
    float: left;
    margin-right: 2.2727272727%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    #header #nav-secondary #secondary-menu li {
      margin: 0 1.5rem; }
    #header #nav-secondary #secondary-menu a {
      text-transform: uppercase;
      display: inline-block;
      color: #1E2D3E;
      font-weight: bold;
      font-family: "Lato", Helvetica, Arial, sans-serif;
      font-size: .75em;
      text-decoration: none; }
      #header #nav-secondary #secondary-menu a:hover, #header #nav-secondary #secondary-menu a:focus {
        color: #1a4eb2;
        text-decoration: underline; }
      #header #nav-secondary #secondary-menu a .fa {
        margin-right: .25rem; }
    #header #nav-secondary #secondary-menu .sub-menu {
      display: none; }
  #header #nav-secondary .header-search {
    width: 31.8181818182%;
    float: right;
    margin-right: 0; }

@media (max-width: 62.5em) {
  #header #nav-secondary, #header .nav-wrapper, #header .nav-wrapper.loaded {
    display: none; } }

.mobile-menu-open {
  overflow-y: hidden; }

.menu-toggle-container {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: block;
  z-index: 20;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out; }
  .mobile-menu-open .menu-toggle-container {
    right: 0;
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
    background: #041E42; }
    .mobile-menu-open .menu-toggle-container button {
      color: #FFF !important;
      background: #041E42 !important; }
  @media (min-width: 62.5em) {
    .menu-toggle-container {
      display: none; } }
  .menu-toggle-container button {
    background: none !important;
    font-size: 2em;
    -webkit-appearance: none;
    border: none;
    cursor: pointer;
    color: #1E2D3E !important;
    padding: .25rem; }
    .menu-toggle-container button:hover, .menu-toggle-container button:active {
      background: none;
      color: inherit; }

.mobile-menu {
  background: #041E42;
  color: #FFF;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 300px;
  z-index: 100;
  -webkit-transform: translateX(300px);
          transform: translateX(300px);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  padding: .5rem .5rem 1rem .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: scroll;
  height: 100vh; }
  @media (max-width: 62.5em) {
    .mobile-menu-open .mobile-menu {
      -webkit-transform: translateX(0);
              transform: translateX(0); } }
  .mobile-menu ul {
    padding: 0;
    margin: 0;
    list-style: none; }
    .mobile-menu ul a {
      display: block;
      margin-bottom: .5rem;
      padding: .5rem 0;
      color: #FFF;
      font-family: "Lato", Helvetica, Arial, sans-serif; }
  .mobile-menu #secondary-menu {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto; }
    .mobile-menu #secondary-menu li {
      width: 50%; }
      .mobile-menu #secondary-menu li a {
        text-transform: uppercase; }
        .mobile-menu #secondary-menu li a .fa {
          margin-right: .5em; }
  .mobile-menu #primary-menu {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto; }
    .mobile-menu #primary-menu > li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .mobile-menu #primary-menu > li .mega-menu-wrapper {
        width: 100%;
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3;
        padding-left: 1rem;
        display: none; }
      .mobile-menu #primary-menu > li button {
        padding: .25em;
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
        width: 2rem;
        height: 2rem;
        position: relative; }
        .mobile-menu #primary-menu > li button .fa {
          position: relative;
          top: -2px;
          left: 1px; }
    .mobile-menu #primary-menu .show-mega-menu .mega-menu-wrapper {
      display: block; }
    .mobile-menu #primary-menu .show-mega-menu .sub-menu-trigger .fa {
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
      -webkit-transform-origin: center center;
              transform-origin: center center; }
  .mobile-menu #tertiary-menu {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin: 2rem 0; }
    .mobile-menu #tertiary-menu > li > a {
      background: #FFF;
      border-radius: 5px;
      padding: .5em .5em;
      text-transform: uppercase;
      font-weight: 700;
      color: #DAA14C;
      font-size: 1rem;
      text-decoration: none;
      cursor: pointer; }
      .mobile-menu #tertiary-menu > li > a:hover {
        color: #4B3F23;
        background: #DAA14C; }
  .mobile-menu .mobile-search {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin-top: 2rem; }
    .mobile-menu .mobile-search form > div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .mobile-menu .mobile-search form > div input[type="text"] {
        border-radius: 5px;
        max-width: 180px;
        position: relative;
        top: -1px; }
      .mobile-menu .mobile-search form > div input[type="submit"] {
        padding: .5em;
        background: #FFF;
        color: #DAA14C; }

.site-alert-link {
  display: block;
  text-decoration: none;
  -webkit-transition: none;
  transition: none;
  border: none;
  background: none;
  color: inherit; }

.site-alert {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #FFF;
  font-weight: bold;
  font-family: "Lato", Helvetica, Arial, sans-serif; }
  .site-alert .alert-wrapper {
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .site-alert .alert-wrapper:after {
      content: " ";
      display: block;
      clear: both; }
  .site-alert.warning {
    background: #FFCC00; }
  .site-alert.danger {
    background: #DF252C; }
  .site-alert.info {
    background: #041E42; }
  .site-alert .alert-icon {
    font-size: 2rem;
    margin-right: 1rem; }
    .site-alert .alert-icon.warning:before, .site-alert .alert-icon.danger:before {
      content: '\f071'; }
    .site-alert .alert-icon.info:before {
      content: '\f05a'; }
  .site-alert .alert-title {
    text-transform: uppercase;
    font-size: 1.5rem; }
  .site-alert .alert-message {
    margin: 0 0 0 1rem; }

#footer .quick-resources {
  background: #041E42;
  color: #FFF;
  padding: 2rem 0; }
  #footer .quick-resources__title {
    font-size: 1.5em;
    text-transform: uppercase;
    margin: 0;
    line-height: 1; }

@media (min-width: 56.25em) {
  #footer .quick-resources-left-wrapper {
    width: 74.5762711864%;
    float: left;
    margin-right: 1.6949152542%;
    border-right: 2px solid #FFF;
    padding-right: 2rem; } }

@media (min-width: 25em) {
  #footer .quick-resources-right-wrapper {
    width: 50%;
    margin: 0 auto; } }

@media (min-width: 56.25em) {
  #footer .quick-resources-right-wrapper {
    margin: 0;
    width: 23.7288135593%;
    float: right;
    margin-right: 0;
    padding-left: 1rem; } }

#footer #footer-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 1rem; }
  @media (min-width: 25em) {
    #footer #footer-menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }
  #footer #footer-menu li {
    margin-bottom: 1rem; }
  @media (min-width: 25em) {
    #footer #footer-menu li + li {
      margin-left: 2rem; } }
  #footer #footer-menu a {
    color: #FFF;
    font-size: 1em;
    font-weight: normal;
    font-family: "Lato", Helvetica, Arial, sans-serif; }
  #footer #footer-menu .sub-menu {
    display: none; }

#footer .map {
  margin-bottom: 2rem; }
  @media (min-width: 56.25em) {
    #footer .map {
      width: 65.9090909091%;
      float: left;
      margin-right: 2.2727272727%; } }
  #footer .map a, #footer .map img {
    display: block;
    width: 100%; }

#footer .footer-events {
  margin-top: 2rem; }
  @media (min-width: 25em) {
    #footer .footer-events {
      width: 50%;
      margin: 2rem auto 0; } }
  @media (min-width: 56.25em) {
    #footer .footer-events {
      margin: 0;
      width: 31.8181818182%;
      float: right;
      margin-right: 0; } }

#footer .block-link {
  background: #FFF;
  display: block;
  margin-bottom: 1.5rem;
  font-size: 1.25em;
  border-radius: 5px;
  padding: 1rem .5rem;
  color: #041E42;
  text-transform: uppercase;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  text-decoration: none; }
  #footer .block-link .fa, #footer .block-link .footer-icon {
    margin: 0 .5rem;
    vertical-align: middle; }
  #footer .block-link:hover {
    color: #4B3F23;
    background: #DAA14C; }

#footer .social-media-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  #footer .social-media-links a {
    display: block;
    margin: .5rem;
    color: #FFF;
    font-size: 2.5em;
    text-decoration: none; }
    #footer .social-media-links a:hover {
      color: #DAA14C; }

#footer .fe-wrapper {
  list-style: none;
  margin: 0;
  padding: 0; }
  #footer .fe-wrapper .f-event {
    text-transform: uppercase;
    margin: 1rem 0; }
    #footer .fe-wrapper .f-event a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-weight: normal;
      color: #FFF; }
    #footer .fe-wrapper .f-event .date {
      text-align: center;
      font-size: .8em;
      display: block;
      margin-right: 1rem;
      border-right: 1px solid #FFF;
      padding-right: 1rem;
      line-height: 1.1; }
      #footer .fe-wrapper .f-event .date .day {
        display: block;
        font-size: 1.75rem;
        font-weight: bold; }
    #footer .fe-wrapper .f-event .details .title {
      font-weight: bold; }

#footer .affiliations {
  margin-top: 2rem; }
  #footer .affiliations .affiliation {
    display: block;
    margin-bottom: 2rem;
    width: 32.2033898305%;
    float: left;
    margin-right: 1.6949152542%; }
    #footer .affiliations .affiliation:nth-child(3n) {
      width: 32.2033898305%;
      float: right;
      margin-right: 0; }
    #footer .affiliations .affiliation:last-child {
      width: 32.2033898305%;
      float: right;
      margin-right: 0; }
    @media (min-width: 56.25em) {
      #footer .affiliations .affiliation {
        width: 15.2542372881%;
        float: left;
        margin-right: 1.6949152542%; }
        #footer .affiliations .affiliation:nth-child(3n) {
          width: 15.2542372881%;
          float: left;
          margin-right: 1.6949152542%; }
        #footer .affiliations .affiliation:last-child {
          width: 15.2542372881%;
          float: right;
          margin-right: 0; } }
    #footer .affiliations .affiliation img {
      display: block;
      margin: 0 auto; }

#footer .quick-connect a {
  display: block;
  width: 200px;
  float: right;
  margin-right: 0;
  width: 200px;
  background: #DAA14C;
  color: #4B3F23;
  padding: 1rem 2rem;
  border-radius: 100px;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  line-height: 1;
  position: relative;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  text-transform: uppercase; }
  #footer .quick-connect a:hover {
    -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.75);
            box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.75); }
  #footer .quick-connect a span {
    text-transform: none;
    font-size: .75em; }
  #footer .quick-connect a:after {
    content: '';
    display: block;
    width: 60px;
    height: 60px;
    border: 2px solid #FFF;
    border-radius: 50%;
    background-image: url("static/images/shield.jpg");
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 0;
    right: 0; }

#footer .agency {
  padding-bottom: 1rem;
  font-size: .75rem; }

body .wrap-embed-contact-form .embed-contact-form a.btn-show-contact {
  left: -252px;
  top: 100%;
  display: block;
  width: 200px;
  float: right;
  margin-right: 0;
  width: 200px;
  background: #95B8D4;
  color: #041E42;
  padding: 1rem 2rem;
  border-radius: 100px;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  line-height: 1;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  text-transform: uppercase; }
  body .wrap-embed-contact-form .embed-contact-form a.btn-show-contact img {
    display: none; }
  body .wrap-embed-contact-form .embed-contact-form a.btn-show-contact:hover {
    -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.75);
            box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.75); }
  body .wrap-embed-contact-form .embed-contact-form a.btn-show-contact span {
    text-transform: none;
    font-size: .75em; }
  body .wrap-embed-contact-form .embed-contact-form a.btn-show-contact:after {
    content: '';
    display: block;
    width: 60px;
    height: 60px;
    border: 2px solid #FFF;
    border-radius: 50%;
    background-image: url("static/images/shield.jpg");
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 0;
    right: 0; }

a {
  text-decoration: none;
  color: #041E42;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 100ms linear;
  transition: all 100ms linear; }
  a:hover {
    text-decoration: underline; }

.readmore {
  text-transform: uppercase;
  font-family: "Lato", Helvetica, Arial, sans-serif; }

[type="text/template"] {
  display: none; }

.table-row {
  display: table-row; }
  .table-row > * {
    display: table-cell; }

.narrow-container {
  max-width: 960px;
  margin: 0 auto; }

.top-bottom-padding {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.top-bottom-padding-small {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.mfp-content [type="text/template"] {
  display: block; }

.mfp {
  background: #FFF;
  width: 90%;
  max-width: 75em;
  margin: 0 auto;
  position: relative;
  padding: 2rem; }

.mfp-close {
  margin: 0; }

/**
 * Pages
 */
.pattern-bg {
  background-image: url("static/images/pattern-bg.png");
  background-repeat: repeat;
  padding-top: 3rem;
  padding-bottom: 3rem; }

.blue-dividing-line {
  height: 2rem;
  background: #041E42;
  background-image: url("static/images/blue-pattern-bg.png");
  background-repeat: repeat;
  width: 100%; }

.has-sidebar:not(.blog) #content {
  margin-top: 1rem; }

.has-sidebar:not(.blog) .article-wrapper {
  margin-bottom: 2rem; }
  @media (min-width: 56.25em) {
    .has-sidebar:not(.blog) .article-wrapper {
      width: 74.5762711864%;
      float: right;
      margin-right: 0;
      border-left: 2px solid #1E2D3E;
      padding-left: 2rem; } }

@media (min-width: 56.25em) {
  .page-sidebar {
    width: 23.7288135593%;
    float: left;
    margin-right: 1.6949152542%; } }

.has-sidebar #content {
  margin-top: 1rem; }

.has-sidebar .post-list {
  width: 74.5762711864%;
  float: right;
  margin-right: 0;
  border-left: 2px solid #1E2D3E;
  padding-left: 2rem;
  margin-bottom: 2rem; }

.page-banner-image {
  height: 400px;
  background-size: cover;
  background-position: center center;
  margin-top: -1rem;
  margin-bottom: 2rem; }

#breadcrumbs {
  margin-bottom: 2rem;
  font-family: "Lato", Helvetica, Arial, sans-serif; }
  #breadcrumbs a {
    text-decoration: underline;
    font-weight: normal; }

.landing-page-banner-image {
  max-width: 100%;
  margin: 0 auto; }
  .landing-page-banner-image img {
    width: 100%; }

.cta-links {
  margin: 4rem 0; }
  .cta-links .cta-links__link-wrapper {
    margin-bottom: 2rem; }
    @media (min-width: 56.25em) {
      .cta-links .cta-links__link-wrapper {
        width: 23.7288135593%;
        float: left;
        margin-right: 1.6949152542%;
        margin-bottom: 0; }
        .cta-links .cta-links__link-wrapper:last-child {
          width: 23.7288135593%;
          float: right;
          margin-right: 0; } }
    .cta-links .cta-links__link-wrapper a:nth-of-type(2) {
      color: #1a4eb2; }
  .cta-links .cta-links__label {
    font-size: 2em;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-style: bold;
    color: #FFF;
    background-size: cover;
    line-height: 1;
    height: 10rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    vertical-align: bottom;
    padding: 1rem;
    position: relative;
    text-decoration: none; }
    .cta-links .cta-links__label:hover:after {
      background: rgba(218, 161, 76, 0.7); }
    .cta-links .cta-links__label span {
      position: relative;
      z-index: 1; }
    .cta-links .cta-links__label:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(30, 45, 62, 0.6);
      z-index: 0;
      -webkit-transition: all 200ms linear;
      transition: all 200ms linear; }
  .cta-links .cta-links__description {
    font-size: .75em; }
  .cta-links a {
    font-size: .75em;
    text-transform: uppercase;
    cursor: pointer;
    font-family: "Lato", Helvetica, Arial, sans-serif; }

.bottom-shadow {
  position: relative; }
  .bottom-shadow:after {
    content: '';
    position: absolute;
    bottom: -1px;
    height: 1px;
    width: 100%;
    display: block;
    -webkit-box-shadow: 0 2px 13px 0 rgba(30, 45, 62, 0.75);
            box-shadow: 0 2px 13px 0 rgba(30, 45, 62, 0.75); }

.landing-page-resource-links {
  padding: 3.5rem 0;
  text-align: center; }
  .landing-page-resource-links .resource-links-title {
    font-size: 2.25em;
    margin: 0 0 2rem;
    text-transform: uppercase; }
  .landing-page-resource-links .resource-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .landing-page-resource-links .resource-links .resource-link {
      max-width: 120px;
      margin: 1rem 3rem; }
      .landing-page-resource-links .resource-links .resource-link a {
        display: block;
        color: #1E2D3E;
        font-weight: normal; }
      .landing-page-resource-links .resource-links .resource-link img {
        display: block;
        margin: 0 auto;
        max-width: 120px; }

.plugin-container {
  margin-top: 4rem;
  margin-bottom: 4rem; }

.gallery {
  margin: 2rem 0 !important; }
  .gallery .gallery-item {
    padding: 0 .5rem; }
    .gallery .gallery-item a {
      display: inline-block;
      text-decoration: none; }
    .gallery .gallery-item img {
      border: none !important; }

.page-template-template-job-list .employment-list-wrapper .employment-internship, .page-template-template-alumni-job-list .employment-list-wrapper .employment-internship {
  max-width: 420px; }

.button, a.button, button, input[type="submit"] {
  height: auto;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  vertical-align: middle;
  white-space: normal;
  background: #041E42;
  border-radius: 5px;
  padding: .75em 2em;
  color: #FFF;
  font-size: 1em;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: all 100ms linear;
  transition: all 100ms linear;
  -webkit-appearance: none; }
  .button:hover, .button:active, .button:focus, a.button:hover, a.button:active, a.button:focus, button:hover, button:active, button:focus, input[type="submit"]:hover, input[type="submit"]:active, input[type="submit"]:focus {
    background: #DAA14C;
    color: #4B3F23; }
  .button.is-large, a.button.is-large, button.is-large, input[type="submit"].is-large {
    font-size: 1.25em; }

.button.gold {
  background: #DAA14C;
  color: #4B3F23; }
  .button.gold:hover, .button.gold:active, .button.gold:focus {
    background: #95B8D4;
    color: #041E42; }

#tinymce.wp-editor {
  padding: 1em !important;
  max-width: 1220px;
  margin: 0 auto; }

.post-list .tease {
  margin-bottom: 2rem;
  border-bottom: 1px solid #e7edf3;
  padding: 2rem 0 4rem; }

.post-list .tease:first-child {
  padding: 0 0 4rem; }

.post-thumbnail {
  width: 100%;
  display: block;
  margin-bottom: 2rem; }

.pagination {
  text-align: center;
  margin: 4em 0; }
  .pagination .pages {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none; }
    .pagination .pages li {
      display: inline-block; }
      .pagination .pages li + li {
        margin-left: 1em; }
      .pagination .pages li a {
        display: inline;
        padding: 0 .25em; }
  .pagination .next {
    margin-left: 1em; }

.pagination:empty {
  display: none; }

.featured-events-title-wrapper {
  background: #041E42;
  background-image: url("static/images/blue-pattern-bg.png");
  background-repeat: repeat;
  color: #FFF;
  padding: 1.5rem 0;
  text-align: center; }

.featured-events-title {
  text-transform: uppercase;
  margin: 0;
  font-size: 2.25rem; }

.featured-events-description {
  margin-bottom: 2rem; }

.mcc-event-wrapper .tribe-mini-calendar-wrapper {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  padding: 2rem 0; }
  @media (min-width: 37.5em) {
    .mcc-event-wrapper .tribe-mini-calendar-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  @media (min-width: 37.5em) {
    .mcc-event-wrapper .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper {
      width: 50%;
      padding: 2rem; } }
  @media (min-width: 37.5em) {
    .mcc-event-wrapper .tribe-mini-calendar-wrapper .tribe-mini-calendar-list-wrapper {
      width: 50%;
      padding-left: 2rem;
      border-left: 1px solid #1E2D3E; } }

.mcc-event-wrapper .tribe-mini-calendar thead, .mcc-event-wrapper .tribe-mini-calendar-nav td, .mcc-event-wrapper .tribe-mini-calendar th {
  background: none;
  color: #1E2D3E;
  border: none; }

.mcc-event-wrapper .tribe-mini-calendar-nav span {
  font-size: 2em;
  padding: 1rem .25rem; }

.mcc-event-wrapper .tribe-mini-calendar th {
  text-transform: none;
  padding: 1rem 0;
  font-weight: normal; }

.mcc-event-wrapper .tribe-mini-calendar td {
  background: none;
  width: calc(100% / 7);
  padding-bottom: calc(100% / 7);
  height: 0;
  position: relative; }
  .mcc-event-wrapper .tribe-mini-calendar td.tribe-events-has-events.tribe-mini-calendar-today, .mcc-event-wrapper .tribe-mini-calendar td.tribe-events-has-events.tribe-events-present {
    background: none; }
    .mcc-event-wrapper .tribe-mini-calendar td.tribe-events-has-events.tribe-mini-calendar-today > div, .mcc-event-wrapper .tribe-mini-calendar td.tribe-events-has-events.tribe-events-present > div {
      background: #DAA14C; }
  .mcc-event-wrapper .tribe-mini-calendar td > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .mcc-event-wrapper .tribe-mini-calendar td span, .mcc-event-wrapper .tribe-mini-calendar td a {
    color: #1E2D3E;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: none;
    padding: 0; }
  .mcc-event-wrapper .tribe-mini-calendar td.tribe-events-has-events {
    background: none; }
    .mcc-event-wrapper .tribe-mini-calendar td.tribe-events-has-events:hover {
      background: none; }
      .mcc-event-wrapper .tribe-mini-calendar td.tribe-events-has-events:hover > div {
        background: #DAA14C; }
    .mcc-event-wrapper .tribe-mini-calendar td.tribe-events-has-events > div {
      background: #95B8D4;
      border-radius: 50%;
      margin: 6px; }
  .mcc-event-wrapper .tribe-mini-calendar td.tribe-events-has-events div[id*='daynum-'] a {
    padding: 0;
    background: none;
    color: #041E42;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .mcc-event-wrapper .tribe-mini-calendar td.tribe-events-has-events div[id*='daynum-'] a:before {
      display: none; }
  .mcc-event-wrapper .tribe-mini-calendar td.tribe-mini-calendar-today span {
    background: #DAA14C;
    color: #4B3F23;
    border-radius: 50%; }

.mcc-event-wrapper .tribe-mini-calendar-list-wrapper .tribe-event-featured, .mcc-event-wrapper .tribe-mini-calendar-list-wrapper .tribe-events-duration {
  color: #1E2D3E; }

.mcc-event-wrapper .tribe-mini-calendar-list-wrapper .tribe-event-featured .tribe-mini-calendar-event {
  background: none; }

.mcc-event-wrapper .tribe-mini-calendar-list-wrapper .tribe-mini-calendar-event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  border: none; }

.mcc-event-wrapper .tribe-mini-calendar-list-wrapper .type-tribe_events {
  text-transform: none;
  margin: 0 0 1rem 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid #1E2D3E; }
  .mcc-event-wrapper .tribe-mini-calendar-list-wrapper .type-tribe_events:last-child {
    border: none;
    margin: 0;
    padding: 0; }
  .mcc-event-wrapper .tribe-mini-calendar-list-wrapper .type-tribe_events .list-date {
    float: none;
    width: auto;
    background: none;
    text-align: center;
    font-size: .8em;
    display: block;
    margin: 0;
    padding: 0;
    margin-right: 1.5rem;
    border-right: 1px solid #1E2D3E;
    padding-right: 1.5rem;
    line-height: 1.1;
    color: #1E2D3E;
    margin-top: 0;
    margin-bottom: 0; }
    .mcc-event-wrapper .tribe-mini-calendar-list-wrapper .type-tribe_events .list-date .list-daynumber {
      display: block;
      font-size: 1.75rem;
      font-weight: bold;
      color: #1E2D3E;
      line-height: 1; }
  .mcc-event-wrapper .tribe-mini-calendar-list-wrapper .type-tribe_events .list-info {
    padding: 0;
    margin: 0;
    max-width: 80%;
    font-size: 80%; }
    .mcc-event-wrapper .tribe-mini-calendar-list-wrapper .type-tribe_events .list-info .tribe-events-title {
      margin: 0; }
      .mcc-event-wrapper .tribe-mini-calendar-list-wrapper .type-tribe_events .list-info .tribe-events-title a {
        font-weight: normal;
        color: #1E2D3E; }
    .mcc-event-wrapper .tribe-mini-calendar-list-wrapper .type-tribe_events .list-info a {
      color: #041E42; }

.sidebar-nav {
  list-style: none;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  margin-bottom: 2rem; }
  .sidebar-nav .sub-menu {
    list-style: none;
    padding-left: 1rem; }
  .sidebar-nav li {
    margin-bottom: 1rem; }
  .sidebar-nav a {
    color: #1E2D3E;
    text-decoration: none;
    display: inline-block;
    max-width: 75%; }
    .sidebar-nav a:hover {
      color: #DAA14C; }
  .sidebar-nav > li > a {
    text-transform: uppercase; }
  .sidebar-nav .sub-menu {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    margin-top: 1rem; }
    .sidebar-nav .sub-menu.show {
      clip: auto;
      position: static;
      height: auto;
      width: auto; }
  .sidebar-nav .expand-sub-menu {
    background: none;
    border: none;
    font-size: .75em;
    vertical-align: top;
    margin-left: .5rem;
    color: #1E2D3E;
    padding: .25rem .5rem; }
    .sidebar-nav .expand-sub-menu:hover {
      cursor: pointer;
      color: #DAA14C;
      background: none; }
    .sidebar-nav .expand-sub-menu.dropdown-open {
      -webkit-transform: scaleY(-1);
              transform: scaleY(-1); }
    .sidebar-nav .expand-sub-menu .fa {
      -webkit-transition: all 200ms linear;
      transition: all 200ms linear;
      color: inherit; }

.sidebar-buttons {
  border-top: 1px solid #1E2D3E;
  border-bottom: 1px solid #1E2D3E;
  padding-top: 2rem;
  max-width: 12rem; }
  .sidebar-buttons a {
    display: block;
    background: #041E42;
    color: #FFF;
    padding: .5rem 1rem;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: .8em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1.5rem;
    text-decoration: none;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .sidebar-buttons a:last-child {
      margin-bottom: 2rem; }
    .sidebar-buttons a:hover {
      background: #DAA14C;
      color: #4B3F23; }
    .sidebar-buttons a .fa {
      font-size: 2em;
      margin-right: 1rem; }

.comments {
  margin-top: 4em; }

#commentform label {
  display: block; }

#commentform input, #commentform textarea {
  width: 100%;
  display: block; }

#commentform .comment-form-comment label, #commentform textarea {
  display: block; }

#commentform .required {
  color: #DF252C; }

#commentform .comment-form-url {
  display: none; }

.home .home-image-slider {
  max-width: 100%;
  margin: 0 auto;
  background: #DAA14C;
  display: none; }
  .home .home-image-slider.slick-initialized {
    display: block; }
  .home .home-image-slider img {
    width: 100%; }

.home .video-spotlight {
  background: url("static/images/pattern-bg.png");
  background-size: cover;
  padding: 3rem 0;
  position: relative; }
  .home .video-spotlight:before {
    content: '';
    background: #041E42;
    position: absolute;
    height: 6rem;
    top: 0;
    left: 0;
    right: 0; }
  .home .video-spotlight .slick-prev {
    display: none !important; }
  .home .video-spotlight .slick-next {
    right: 0; }
    @media (min-width: 90em) {
      .home .video-spotlight .slick-next {
        right: -6rem; } }
    @media (max-width: 90em) {
      .home .video-spotlight .slick-next {
        top: auto;
        bottom: 0;
        -webkit-transform: none;
                transform: none;
        width: 2rem;
        height: 2rem;
        right: 2rem; }
        .home .video-spotlight .slick-next:hover {
          -webkit-transform: none;
                  transform: none; } }
    .home .video-spotlight .slick-next:before {
      font-size: 6rem;
      color: #041E42; }
      @media (max-width: 90em) {
        .home .video-spotlight .slick-next:before {
          font-size: 2rem; } }
  .home .video-spotlight .video-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .home .video-spotlight .video-embed {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    -ms-flex-item-align: end;
        align-self: flex-end; }
    @media (min-width: 56.25em) {
      .home .video-spotlight .video-embed {
        width: 40.6779661017%;
        float: left;
        margin-right: 1.6949152542%; } }
    @media (min-width: 76.25em) {
      .home .video-spotlight .video-embed {
        width: 49.1525423729%;
        float: left;
        margin-right: 1.6949152542%; } }
  .home .video-spotlight .video-details {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }
    @media (min-width: 56.25em) {
      .home .video-spotlight .video-details {
        width: 49.1525423729%;
        float: right;
        margin-right: 0;
        padding-top: 4rem;
        padding-left: 1.6949152542%; } }
    .home .video-spotlight .video-details p, .home .video-spotlight .video-details a {
      font-size: .75em; }
  .home .video-spotlight .video-title {
    font-size: 2em;
    text-transform: uppercase;
    line-height: 1; }

.home .get-involved {
  background: #95B8D4;
  color: #041E42;
  padding: 2rem 0; }
  .home .get-involved .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .home .get-involved .get-involved__information {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
    @media (min-width: 76.25em) {
      .home .get-involved .get-involved__information {
        width: 57.6271186441%;
        float: left;
        margin-right: 1.6949152542%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; } }
  .home .get-involved .divider {
    width: 2px;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    margin: .5rem 1.5rem;
    background: #041E42; }
  .home .get-involved .get-involved__information-title {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    -ms-flex-item-align: center;
        align-self: center; }
  .home .get-involved .get-involved__icons-wrapper {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin: 1rem 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    @media (min-width: 76.25em) {
      .home .get-involved .get-involved__icons-wrapper {
        width: 40.6779661017%;
        float: right;
        margin-right: 0;
        margin: 0;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end; } }
  .home .get-involved .get-involved__icon {
    display: block;
    width: 6rem;
    margin: 1rem .5rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 6rem;
            flex: 0 0 6rem;
    color: #041E42;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    text-decoration: none; }
    .home .get-involved .get-involved__icon:hover .fa {
      background: #FFF;
      color: #041E42;
      border-color: #FFF; }
    .home .get-involved .get-involved__icon .fa {
      width: 4rem;
      height: 4rem;
      font-size: 1.5rem;
      border: 3px solid #041E42;
      border-radius: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin: 0 auto .5rem; }

.home .slick-next, .home .slick-prev {
  height: 2rem;
  width: 2rem;
  z-index: 10;
  -webkit-transition: all 100ms linear;
  transition: all 100ms linear; }
  @media (min-width: 76.25em) {
    .home .slick-next, .home .slick-prev {
      height: 4rem;
      width: 4rem; } }
  .home .slick-next:hover, .home .slick-prev:hover {
    -webkit-transform: scale(1.1) translate(0, -50%);
            transform: scale(1.1) translate(0, -50%); }
  .home .slick-next:before, .home .slick-prev:before {
    font-family: 'FontAwesome', 'slick';
    opacity: 1;
    font-size: 2rem;
    font-weight: normal; }
    @media (min-width: 76.25em) {
      .home .slick-next:before, .home .slick-prev:before {
        font-size: 4rem; } }

.home .slick-next {
  right: .5rem; }
  @media (min-width: 76.25em) {
    .home .slick-next {
      right: 2rem; } }
  .home .slick-next:before {
    content: '\f105'; }

.home .slick-prev {
  left: .5rem; }
  @media (min-width: 76.25em) {
    .home .slick-prev {
      left: 2rem; } }
  .home .slick-prev:before {
    content: '\f104'; }

.career-paths .career-paths-title {
  font-size: 2.25em;
  text-transform: uppercase; }

.career-paths.bottom-shadow:after {
  bottom: 2px; }

.career-paths .career-paths-list {
  list-style: none;
  margin: 2rem auto 2rem;
  padding: 2.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 800px;
  background: #FFF;
  -webkit-box-shadow: 2px 2px 10px 0 rgba(30, 45, 62, 0.5);
          box-shadow: 2px 2px 10px 0 rgba(30, 45, 62, 0.5);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }
  @media (min-width: 42.5em) {
    .career-paths .career-paths-list {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  @media (min-width: 45.625em) {
    .career-paths .career-paths-list:after {
      content: '';
      display: block;
      width: 1px;
      height: calc(100% - 4rem);
      position: absolute;
      top: 2rem;
      background: #1E2D3E;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      left: 50%; } }
  .career-paths .career-paths-list .career-path {
    max-width: 300px;
    width: 100%;
    font-size: 1.5em;
    margin-bottom: 1rem; }
    .career-paths .career-paths-list .career-path a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      text-decoration: none;
      font-family: "Lato", Helvetica, Arial, sans-serif;
      text-transform: uppercase; }
      .career-paths .career-paths-list .career-path a:hover .career-arrow {
        -webkit-transform: scale(1.1) translateX(8px);
                transform: scale(1.1) translateX(8px); }
    .career-paths .career-paths-list .career-path span {
      display: inline-block; }
    .career-paths .career-paths-list .career-path .career-icon {
      font-size: 2em;
      border-right: 1px solid #1E2D3E;
      color: #1E2D3E;
      padding-right: 1rem;
      margin-right: 1.5rem;
      width: 75px; }
    .career-paths .career-paths-list .career-path .career-title {
      width: 150px; }
    .career-paths .career-paths-list .career-path .career-arrow {
      font-size: 1.5em;
      -webkit-transition: all 200ms linear;
      transition: all 200ms linear; }

.employment-internships-title {
  font-size: 2em;
  font-weight: normal;
  text-transform: uppercase; }

.employment-internships-list {
  list-style: none;
  margin: 4rem auto 2rem;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 600px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  position: relative; }
  @media (min-width: 56.25em) {
    .employment-internships-list {
      max-width: 960px;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  .employment-internships-list .employment-internship {
    background: #FFF;
    -webkit-box-shadow: 2px 2px 10px 0 rgba(30, 45, 62, 0.5);
            box-shadow: 2px 2px 10px 0 rgba(30, 45, 62, 0.5);
    padding: 1rem 1.5rem;
    max-width: 450px;
    width: 100%;
    margin-bottom: 2rem;
    font-family: "Lato", Helvetica, Arial, sans-serif; }
    .employment-internships-list .employment-internship a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      text-decoration: none; }
      .employment-internships-list .employment-internship a:hover .job-arrow {
        -webkit-transform: scale(1.1) translateX(8px);
                transform: scale(1.1) translateX(8px); }
    .employment-internships-list .employment-internship .job-details {
      width: 90%;
      border-left: 1px solid #1E2D3E;
      padding-left: 1.5rem; }
    .employment-internships-list .employment-internship .job-posted {
      color: #1E2D3E;
      font-size: .75em;
      text-transform: uppercase;
      font-weight: normal; }
    .employment-internships-list .employment-internship .job-title {
      font-size: 1.25em;
      text-transform: uppercase; }
    .employment-internships-list .employment-internship .job-location {
      color: #1E2D3E;
      font-size: 1em;
      font-family: "Roboto Slab", Times New Roman, serif; }
    .employment-internships-list .employment-internship .job-arrow {
      font-size: 2em;
      -webkit-transition: all 200ms linear;
      transition: all 200ms linear; }

.admissions-featured-content {
  padding: 0 0 3rem;
  margin-bottom: -4rem; }
  .admissions-featured-content-top-bar {
    height: 2rem;
    background: #041E42;
    background-image: url("static/images/blue-pattern-bg.png");
    background-repeat: repeat;
    width: 100%;
    margin-bottom: 3rem; }
  @media (min-width: 56.25em) {
    .admissions-featured-content .feature-gallery {
      width: 49.1525423729%;
      float: left;
      margin-right: 1.6949152542%; } }
  @media (min-width: 56.25em) {
    .admissions-featured-content .feature-content {
      width: 40.6779661017%;
      float: right;
      margin-right: 0; } }
  .admissions-featured-content .feature-content .feature-content-title {
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 0; }
  .admissions-featured-content .feature-content .feature-content-text {
    margin-bottom: 2rem;
    font-size: .75em; }
  .admissions-featured-content .slick-dots li button:before {
    color: #DAA14C;
    font-size: 20px; }
  @media (min-width: 76.25em) {
    .admissions-featured-content .slick-dots {
      bottom: -36px; } }

.tease-child-page {
  margin-bottom: 4rem; }
  .tease-child-page h2 a {
    color: #1E2D3E;
    text-transform: uppercase; }

.nested-child-pages {
  margin-top: 4rem; }

.container-player {
  overflow: none;
  width: 100%;
  height: 100%;
  background-color: #eee;
  overflow: hidden;
  position: relative; }

.container-player.fullscreen-background {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0; }

.container-player .container-player-outer {
  position: relative;
  width: 100%;
  height: 100%; }

.container-player .container-player-inner,
.container-player .container-player-poster {
  position: absolute;
  z-index: 0; }

.container-player .container-player-poster {
  background-size: cover;
  z-index: 0; }

.container-player.youtube iframe, .container-player.vimeo iframe {
  opacity: 0; }

.container-player.youtube.transition-in.playing iframe,
.container-player.youtube.transition-in.paused iframe, .container-player.vimeo.transition-in.playing iframe,
.container-player.vimeo.transition-in.paused iframe {
  -webkit-animation: revealVideo 1s;
  animation: revealVideo 1s; }

.container-player.youtube.playing iframe,
.container-player.youtube.paused iframe, .container-player.vimeo.playing iframe,
.container-player.vimeo.paused iframe {
  opacity: 1; }

.container-player .container-player-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0; }

@-webkit-keyframes revealVideo {
  0%, 50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes revealVideo {
  0%, 50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.container-player video, .container-player iframe {
  width: 100%;
  height: 100%;
  border: none; }

#jobs-embed-map {
  height: 400px;
  margin: 2rem 0;
  background: #DAA14C; }

.jobs-embed-complex table {
  font-size: .75em; }
  .jobs-embed-complex table a {
    font-weight: normal; }
  .jobs-embed-complex table td {
    padding: .5rem; }
  .jobs-embed-complex table thead {
    font-weight: bold;
    text-transform: uppercase; }
  .jobs-embed-complex table .odd {
    background: #e7edf3; }

.jobs-embed-complex .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: #DAA14C;
  color: #4B3F23 !important;
  border-color: transparent; }
  .jobs-embed-complex .dataTables_wrapper .dataTables_paginate .paginate_button:hover.disabled {
    background: none; }

.jobs-embed-simple .employment-internship {
  max-width: 400px; }
