{% extends "base.twig" %}

{% block content %}
	<div class="landing-page-banner-image">
		<img src="{{ TimberImage( post.get_field('banner_image') )|resize( 1440, 400 ) }}" alt="{{ TimberImage(post.get_field('banner_image')).alt }}" />
	</div>
	<div class="cta-links">
		<div class="container">
			{% for item in post.get_field('cta_links') %}
				<div class="cta-links__link-wrapper">
					<a href="{{ item.link }}" class="cta-links__label" style="background-image: url({{ TimberImage(item.image).src('medium') }});">
						<span>{{ item.label }}</span>
					</a>
					<p class="cta-links__description">{{ item.description }}</p>
					<a href="{{ item.link }}">Learn More</a>
				</div>
			{% endfor %}
		</div>
	</div>
	
	<div class="featured-events bottom-shadow">
		<div class="featured-events-title-wrapper">
			<div class="container">
				<h2 class="featured-events-title">Featured Events</h2>
			</div>
		</div>
		<div class="container">
			<div class="mcc-event-wrapper">
				{{ '[tribe_mini_calendar]'|shortcodes }}
			</div>
		</div>
	</div>

	<div class="landing-page-resource-links pattern-bg">
		<h3 class="resource-links-title">Advancement Resources</h3>
		<ul class="resource-links">
			{% for link in post.get_field('advancement_resources') %}
				<li class="resource-link">
					<a href="{{ link.link }}">
						<img src="{{ TimberImage( link.icon ).src('medium')|resize(120) }}" alt="{{ TimberImage(link.icon).alt }}" />
						<span>{{ link.label }}</span>
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
	
{% endblock %}