{% extends "base.twig" %}

{% block content %}
	<div class="landing-page-banner-image">
		<img src="{{ TimberImage( post.get_field('banner_image') )|resize( 1440, 400 ) }}" alt="{{ TimberImage(post.get_field('banner_image')).alt }}" />
	</div>
	<div class="cta-links">
		<div class="container">
			{% for item in post.get_field('cta_links') %}
				<div class="cta-links__link-wrapper">
					<a href="{{ item.link }}" class="cta-links__label" style="background-image: url({{ TimberImage(item.image).src('medium') }});">
						<span>{{ item.label }}</span>
					</a>
					<p class="cta-links__description">{{ item.description }}</p>
					<a href="{{ item.link }}">Learn More</a>
				</div>
			{% endfor %}
		</div>
	</div>

	<div class="admissions-featured-content bottom-shadow">
		<div class="admissions-featured-content-top-bar"></div>
		<div class="container">
			<div class="feature-gallery">
				{% for image in post.get_field('feature_gallery') %}
					<img src="{{ TimberImage(image).src('large') }}" />
				{% endfor %}
			</div>
			<div class="feature-content">
				<h3 class="feature-content-title">{{ post.get_field('feature_title') }}</h3>
				<div class="feature-content-text">
					{{ post.get_field('feature_content') }}
				</div>
				<a href="{{ post.get_field('feature_link').url }}" class="button gold">{{ post.get_field('feature_link').title }}</a>
			</div>
		</div>
	</div>

	<div class="cta-links pattern-bg no-margin-bottom">
		<div class="container">
			<div class="centered-text">
				<h2 class="featured-events-title">Events</h2>
				<p class="featured-events-description">The following is a list of annual events provided by Manhattan Christian College, supporters, and other partners of MCC.</p>
			</div>
			{% for item in post.get_field('cta_events') %}
				<div class="cta-links__link-wrapper">
					<a href="{{ item.link }}" class="cta-links__label" style="background-image: url({{ TimberImage(item.image).src('medium') }});">
						<span>{{ item.label }}</span>
					</a>
					<p class="cta-links__description">{{ item.description }}</p>
					<a href="{{ item.link }}">Learn More</a>
				</div>
			{% endfor %}
		</div>
	</div>
	
	<div class="featured-events bottom-shadow">
		<div class="featured-events-title-wrapper">
			<div class="container">
				<h2 class="featured-events-title">Featured Events</h2>
			</div>
		</div>
		<div class="container">
			<div class="mcc-event-wrapper">
				{{ '[tribe_mini_calendar]'|shortcodes }}
			</div>
		</div>
	</div>

	<div class="landing-page-resource-links pattern-bg">
		<h3 class="resource-links-title">Admission Resources</h3>
		<ul class="resource-links">
			{% for link in post.get_field('admission_resources') %}
				<li class="resource-link">
					<a href="{{ link.link }}">
						<img src="{{ TimberImage( link.icon ).src('medium')|resize(120) }}" alt="{{ TimberImage(link.icon).alt }}" />
						<span>{{ link.label }}</span>
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
	
{% endblock %}