{% block html_head_container %}
	{% include 'html-header.twig' %}
	{% block head %}
		{# Include extra stuff in the document head #}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{ body_class }}" data-template="base.twig">
			{% block alert %}
				<div id="alert-template" style="display: none !important;">
					<div class="site-alert">
						<div class="alert-wrapper container">
							<span class="fa alert-icon"></span><span class="alert-title">Alert:</span>
							<p class="alert-message">Alert message goes here.</p>
						</div>
					</div>
				</div>
			{% endblock %}
			{% block header %}
				{% include 'header.twig' %}
			{% endblock %}

			{% block below_header %}
			{% endblock %}

			{% block above_content %}
			{% endblock %}

			<section id="content" role="main" class="content-wrapper">
				<div id="vue-wrapper">
				{% block content %}
					Sorry, no content
				{% endblock %}
				</div> <!-- #vue-wrapper -->
			</section>

			{% block below_content %}
			{% endblock %}

			{% block above_footer %}
			{% endblock %}

			{% block footer %}
				{% include 'footer.twig' %}
			{% endblock %}
			
			<div id="results-popup" class="magnific mfp-hide"></div>
	
		{% block footer_scripts %}
			{# Include extra stuff in the document footer, JS etc #}
		{% endblock %}
		<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/r-2.2.0/sl-1.2.3/datatables.min.js"></script>
		{{ function('wp_footer') }}
		<script src="https://automotiveadvertisinggroup.com/captivated-textus-api/manhattan-christian-college/embed.js" onload="replacePopoutButton()"></script>
	</body>
</html>
