{% extends "base.twig" %}

{% block content %}
	<div class="landing-page-banner-image">
		<img src="{{ TimberImage( post.get_field('banner_image') )|resize( 1440, 400 ) }}" alt="{{ TimberImage(post.get_field('banner_image')).alt }}" />
	</div>
	<div class="cta-links">
		<div class="container">
			{% for item in post.get_field('cta_links') %}
				<div class="cta-links__link-wrapper">
					<a href="{{ item.link }}" class="cta-links__label" style="background-image: url({{ TimberImage(item.image).src('medium') }});">
						<span>{{ item.label }}</span>
					</a>
					<p class="cta-links__description">{{ item.description }}</p>
					<a href="{{ item.link }}">Learn More</a>
				</div>
			{% endfor %}
		</div>
	</div>
	
	<div class="featured-events bottom-shadow">
		<div class="featured-events-title-wrapper">
			<div class="container">
				<h2 class="featured-events-title">Featured Events</h2>
			</div>
		</div>
		<div class="container">
			<div class="mcc-event-wrapper">
				{{ '[tribe_mini_calendar]'|shortcodes }}
			</div>
		</div>
	</div>

	<div class="employment-internships pattern-bg">
		<div class="container">
			<h3 class="employment-internships-title centered-text">Student Employment &amp; Internships</h3>
			<p class="centered-text half-container">The following is a list of the church and organization job postings and featured internship opportunities. We post new jobs and internship opportunities weekly, so check back often!</p>
			<ul class="employment-internships-list">
				{% for job in jobs %}
					<li class="employment-internship">
						<a href="{{ job.link }}">
							<div class="job-details">
								<div class="job-posted">{{ job.job_type }} &emsp;&mdash;&emsp; Posted {{ job.post_date|date('F j')}}</div>
								<div class="job-title">{{ job.title }}</div>
								<div class="job-location">{{ job.employer }} &emsp;&mdash;&emsp; {{ job.location }}</div>
							</div>
							<div class="fa fa-angle-right job-arrow">&nbsp;</div>
						</a>
					</li>
				{% endfor %}
			</ul>
			{% if post.get_field('campus_life_view_all_jobs_link') %}
				<p class="centered-text"><a href={{ post.get_field('campus_life_view_all_jobs_link') }} id="show-more-jobs" class="button gold">View All Postings</a></p>
			{% endif %}
		</div>
	</div>

	<div class="landing-page-resource-links">
		<h3 class="resource-links-title">Student Resources</h3>
		<ul class="resource-links">
			{% for link in post.get_field('campus_life_resources') %}
				<li class="resource-link">
					<a href="{{ link.link }}">
						<img src="{{ TimberImage( link.icon ).src('medium')|resize(120) }}" alt="{{ TimberImage(link.icon).alt }}" />
						<span>{{ link.label }}</span>
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
	
{% endblock %}