<footer id="footer">
	<div class="quick-resources">
		<div class="container">
			<div class="quick-resources-left-wrapper">
				<h5 class="quick-resources__title">Quick Resources</h5>
				<div class="footer-menu-wrapper">
					{{ function('mcc_render_footer_menu') }}
				</div>
				<div class="map">
					{# <a href="{{ option.map_link }}"> #}
						{% filter shortcodes %}
							[pw_map address="Manhattan Christian College, Manhattan KS, 66502" key="AIzaSyDw3OwYSEVcxzxydXLzwWl-DtLGApFH0To" height="215px" zoom="16"]
						{% endfilter %}
{# 						<img src="{{ theme.link}}/static/images/map.png" /> #}
					{# </a> #}
				</div>
				{% set footer_events = function('mcc_get_footer_events') %}
				{% if footer_events %}
					<div class="footer-events">
						<h5 class="quick-resources__title">Events</h5>
						<ul class="fe-wrapper">
							{% for event in footer_events %}
							<li class="f-event">
								<a href="{{ event.link }}">
									<div class="date">{{ event.event_start_month }} <span class="day">{{ event.event_start_day }}</span></div>
									<div class="details">
										<div class="time">{{ event.event_start_time }}</div>
										<div class="title">{{ event.title }}</div>
									</div>
								</a>
							</li>
							{% endfor %}
						</ul>
					</div>
				{% endif %}
			</div>
			<div class="quick-resources-right-wrapper">
				<a class="block-link" href="{{ options.schedule_a_visit }}"><span class="calendar-icon footer-icon">{% include 'icons/calendar.svg' %}</span> Schedule a Visit</a>
				<a class="block-link" href="{{ options.apply_today }}"><span class="check-mark-icon footer-icon">{% include 'icons/check-mark.svg' %}</span> Apply Today</a>
				<a class="block-link" href="{{ options.make_a_donation }}"><span class="gift-icon footer-icon">{% include 'icons/gift.svg' %}</span> Make a Donation</a>
				<nav class="social-media-links">
					<a class="fa fa-facebook" href="{{ options.facebook }}" target="_blank" rel="noopener noreferrer"><span class="screen-reader-text">Facebook</span></a>
					<a class="fa fa-instagram" href="{{ options.instagram }}" target="_blank" rel="noopener noreferrer"><span class="screen-reader-text">Instagram</span></a>
					<a class="fa fa-twitter" href="{{ options.twitter }}" target="_blank" rel="noopener noreferrer"><span class="screen-reader-text">Twitter</span></a>
					<a class="fa fa-youtube-play" href="{{ options.youtube }}" target="_blank" rel="noopener noreferrer"><span class="screen-reader-text">YouTube</span></a>
				</nav>
			</div>
		</div>
	</div>
	<div class="affiliations">
		<div class="container">
			{% for affiliation in options.affiliations %}
				<a class="affiliation" href="{{ affiliation.link }}" target="_blank" rel="noopener noreferrer">
					<img src="{{ TimberImage(affiliation.image).src("small") }}" alt="{{ TimberImage(affiliation.image).alt }}" />
				</a>
			{% endfor %}
		</div>
	</div>
	{# <div class="quick-connect">
		<div class="container">
			<a href="{{ options.quick_connect }}">Need Help? <br><span>Connect with Us</span></a>
		</div>
	</div> #}
	<p class="container centered-text">Copyright &copy;{{ year }} Manhattan Christian College</p>
	<p class="agency container centered-text">Website designed by <a href="https://weare502.com" rel="nofollow">502</a></p>
</footer>