{% extends "base.twig" %}

{% block content %}
	<div class="home-image-slider">
		{% for slide in post.get_field('slider') %}
			<a class="u-block" href="{{ slide.link }}">
				<img src="{{ TimberImage( slide )|resize( 1500, 650 ) }}" alt="{{ TimberImage(slide).alt }}" />
			</a>
		{% endfor %}
	</div>
	<div class="cta-links">
		<div class="container">
			{% for item in post.get_field('cta_links') %}
				<div class="cta-links__link-wrapper">
					<a href="{{ item.link }}" class="cta-links__label" style="background-image: url({{ TimberImage(item.image).src('medium') }});">
						<span>{{ item.label }}</span>
					</a>
					<p class="cta-links__description">{{ item.description }}</p>
					<a href="{{ item.link }}">Learn More</a>
				</div>
			{% endfor %}
		</div>
	</div>
	<div class="video-spotlight">
		<div class="container">
			{% for video in post.get_field('video_spotlight') %}
				<div class="video-wrapper">
					<div class="video-embed">{{ video.embed }}</div>
					<div class="video-details">
						<h2 class="video-title">{{ video.title }}</h2>
						<p>{{ video.description }}</p>
						<a href="{{ video.link }}" class="button">Learn More</a>
						
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	<div class="get-involved">
		<div class="container">
			<div class="get-involved__information">
				<div class="get-involved__information-title">Get Involved!</div>
				<div class="divider"></div>
				<p>{{ post.get_field('get_involved_description') }}</p>
			</div>
			<div class="get-involved__icons-wrapper">
				{% for item in post.get_field('get_involved_links') %}
					<a href="{{ item.link }}" class="get-involved__icon">
						<span class="fa {{ item.icon }}"></span>
						<span class="get-involved__icon-text">{{ item.icon_text }}</span>	
					</a>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}