<header id="header" class="header"><!-- #header open -->
	<div class="menu-toggle-container">
		<button id="menu-toggle" class="fa fa-bars nav-toggle"><span class="screen-reader-text">Toggle Menu</span></button>
	</div>
	<div class="container main-nav-wrapper">
		<a id="logo" class="logo-link" href="{{site.url}}" rel="home">
			<img src="{{ theme.link }}/static/images/logo.png" alt='Manhattan Christian College Logo' class="logo" />
			<span class="screen-reader-text">{{ site.title }}</span>
		</a>
		<nav id="nav-secondary" role="navigation">
			{{ function('mcc_render_secondary_menu') }}
			<div class="header-search">
				{{ function('get_search_form') }}
			</div>
		</nav>
	</div>
	<noscript><p style="text-align: center;">Please enable JavaScript to view the main menu.</p></noscript>
	<div class="nav-wrapper">
		<nav id="nav-main" role="navigation" class="container">
			{{ function('mcc_render_primary_menu') }}
			{{ function('mcc_render_tertiary_menu') }}
		</nav>
	</div>
</header><!-- #header close -->
<div class="mobile-menu">
	{{ function('mcc_render_secondary_menu') }}
	{{ function('mcc_render_primary_menu') }}
	{{ function('mcc_render_tertiary_menu') }}
	<div class="mobile-search">
		{{ function('get_search_form') }}
	</div>
</div>