{% extends "base.twig" %}

{% block content %}
	<div class="container">
	{% for post in posts %}
		{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
	{% endfor %}
	{% include "pagination.twig" %}
	</div>
{% endblock %}