{% extends "base.twig" %}

{% block content %}
	{% if post.thumbnail %}
		<div class="page-banner-image" style="background-image: url( {{ TimberImage(post.thumbnail).src('xlarge') }} );"></div>
	{% else %}
		<div class="page-banner-image" style="background-image: url( {{ TimberImage(options.global_banner_image).src('xlarge') }} );"></div>
	{% endif %}
	<div class="container">
		<article class="post-type-{{post.post_type}} article-wrapper" id="post-{{post.ID}}">
			{{ breadcrumbs }}
			<h1 class="post-title">{{ post.title }}</h1>
			<div class="post-content">
				{{ post.content }}
				<div class="employment-list-wrapper">
					<ul class="employment-internships-list">
						{% for job in jobs %}
							<li class="employment-internship">
								<a href="{{ job.link }}">
									<div class="job-details">
										<div class="job-posted">{{ job.job_type }} &emsp;&mdash;&emsp; Posted {{ job.post_date|date('F j')}}</div>
										<div class="job-title">{{ job.title }}</div>
										<div class="job-location">{{ job.employer }} &emsp;&mdash;&emsp; {{ job.location }}</div>
									</div>
									<div class="fa fa-angle-right job-arrow">&nbsp;</div>
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</article>
		{% if sidebar %}
			<aside class="page-sidebar">
				{% block sidebar %}
					
					{% if sidebar_menu %}
						{% include 'sidebar-menu.twig' %}
					{% endif %}
					{% if sidebar_buttons %}
						<div class="sidebar-buttons">
							{% for button in sidebar_buttons %}
								<a href="{{ button.link }}"><span class="fa {{ button.icon }}"></span>{{ button.text }}</a>
							{% endfor %}
						</div>
					{% endif %}
					{% if sidebar_content %}
						<div class="sidebar-content">
							{{ sidebar_content }}
						</div>
					{% endif %}

				{% endblock %}
			</aside>
		{% endif %}
	</div>
{% endblock %}