{% if embed_type == 'simple' %}
	<div class="employment-list-wrapper jobs-embed-simple">
		<ul class="employment-internships-list">
			{% for job in jobs %}
				<li class="employment-internship">
					<a href="{{ job.link }}">
						<div class="job-details">
							<div class="job-posted">Posted {{ job.post_date|date('F j')}}</div>
							<div class="job-title">{{ job.title }}</div>
							<div class="job-location">{{ job.employer }}</div>
						</div>
						<div class="fa fa-angle-right job-arrow">&nbsp;</div>
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
{% elseif embed_type == 'complex' %}
	<div id="jobs-embed-map"></div>
	<div class="jobs-embed-complex">
		<table>
			<thead>
				<tr>
					<th class="all">Post Date</th>
					<th class="all">Job Title</th>
					<th class="tablet desktop">Organization</th>
					<th class="tablet desktop">City</th>
					<th class="all">State</th>
					<th class="desktop">Country</th>
				</tr>
			</thead>
			<tbody>
				{% for job in jobs %}
					<tr class="job-row" data-lat="{{ job.latitude }}" data-lng="{{ job.longitude }}">
						<td class="job-date" data-order="{{ job.post_date }}">{{ job.post_date|date('M j, Y') }}</td>
						<td class="job-title"><a href="{{ job.link }}">{{ job.title }}</a></td>
						<td class="job-org">{{ job.employer }}</td>
						<td class="job-city">{{ job.city }}</td>
						<td class="job-state">{{ job.terms('job_state')|join(', ') }}</td>
						<td class="job-country">{{ job.terms('job_country')|join(', ') }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	
{% endif %}