{% macro embedded_list(items) %}
    {% import _self as menus %}
    {% for item in items %}
       <li class="nav-item {{item.classes | join(' ')}}"><a class="nav-link" href="{{item.link}}">{{item.title}}</a>
            {% if item.has_child_class %}
                <button class="expand-sub-menu"><span class="fa fa-chevron-down"></span><span class="screen-reader-text">Expand Sub-Menu</span></button>
                <ul class="sub-menu">
                    {{ menus.embedded_list(item.get_children) }}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}