{% extends "base.twig" %}

{% block content %}
	{% if post.thumbnail %}
		<div class="page-banner-image" style="background-image: url( {{ TimberImage(post.thumbnail).src('xlarge') }} );"></div>
	{% else %}
		<div class="page-banner-image" style="background-image: url( {{ TimberImage(options.global_banner_image).src('xlarge') }} );"></div>
	{% endif %}
	<div class="container">
		<article class="post-type-{{post.post_type}} article-wrapper" id="post-{{post.ID}}">
			{{ breadcrumbs }}
			<h1 class="post-title">{{ post.title }}</h1>
			<div class="post-content">
				{{ post.content }}
				
				<div class="nested-child-pages">
				{% for child in child_posts %}
					<article class="tease tease-child-page" id="tease-{{child.ID}}">
						<h2><a href="{{child.link}}">{{child.title}}</a></h2>
						{% if child.summary %}
							<p>{{ child.summary }}</p>
						{% else %}
							<p>{{ child.get_preview(30) }}</p>
						{% endif %}
						<p><a class="readmore" href="{{ child.link }}">Learn More</a></p>
					</article>
				{% endfor %}
				</div>

			</div>
		</article>
		{% if sidebar %}
			<aside class="page-sidebar">
				{% block sidebar %}
					
					{% if sidebar_menu %}
						{% include 'sidebar-menu.twig' %}
					{% endif %}
					{% if sidebar_buttons %}
						<div class="sidebar-buttons">
							{% for button in sidebar_buttons %}
								<a href="{{ button.link }}"><span class="fa {{ button.icon }}"></span>{{ button.text }}</a>
							{% endfor %}
						</div>
					{% endif %}
					{% if sidebar_content %}
						<div class="sidebar-content">
							{{ sidebar_content }}
						</div>
					{% endif %}

				{% endblock %}
			</aside>
		{% endif %}
	</div>
{% endblock %}