{% extends "base.twig" %}

{% block content %}
	{% if post.thumbnail %}
		<div class="page-banner-image" style="background-image: url( {{ TimberImage(post.thumbnail).src('xlarge') }} );"></div>
	{% endif %}
	<div class="container">
		<article class="post-type-{{post.post_type}} article-wrapper" id="post-{{post.ID}}">
			{{ breadcrumbs }}
			<div class="post-content">
				{{ post.content }}
			</div>
		</article>
		{% if sidebar %}
			<aside class="page-sidebar">
				{% block sidebar %}
					
					{% if sidebar_menu %}
						{% include 'sidebar-menu.twig' %}
					{% endif %}
					{% if sidebar_buttons %}
						<div class="sidebar-buttons">
							{% for button in sidebar_buttons %}
								<a href="{{ button.link }}"><span class="fa {{ button.icon }}"></span>{{ button.text }}</a>
							{% endfor %}
						</div>
					{% endif %}
					{% if sidebar_content %}
						<div class="sidebar-content">
							{{ sidebar_content }}
						</div>
					{% endif %}

				{% endblock %}
			</aside>
		{% endif %}
	</div>
{% endblock %}