{% extends "base.twig" %}

{% block content %}
	{% if post.thumbnail %}
		<div class="page-banner-image" style="background-image: url( {{ TimberImage(post.thumbnail).src('xlarge') }} );"></div>
	{% endif %}
	Single Post
	<div class="container">
		<article class="post-type-{{post.post_type}} article-wrapper" id="post-{{post.ID}}">
			<section class="article-content">
				<h1 class="page-title"><span>{{ post.title }}</span></h1>
				<div class="article-body">
					{{post.content}}
				</div>
			</section>
		</article>
		{% if post.comment_status != 'closed' %}
			<section class="comments">
				<div class="respond">
					<h3>Comments</h3>
					{{ function('comment_form') }}
				</div>
				<div class="responses">
					{% for cmt in post.get_comments() %}
						{% include "comment.twig" with {comment:cmt} %}
					{% endfor %}
				</div>
			</section>
		{% endif %}
	</div>
{% endblock %}
