<article class="tease tease-{{post.post_type}} article-wrapper" id="tease-{{post.ID}}">
	{% block content %}
		<h2><a href="{{post.link}}">{{post.title}}</a></h2>
		<p>{{post.get_preview}}</p>
	{% endblock %}
</article>