.career-paths {
	.career-paths-title {
		font-size: 2.25em;
		// font-weight: normal;
		text-transform: uppercase;
	}

	&.bottom-shadow:after {
		bottom: 2px;
	}

	.career-paths-list {
		list-style: none;
		margin: 2rem auto 2rem;
		padding: 2.25rem;
		display: flex;
		flex-wrap: wrap;
		max-width: 800px;
		background: $white;
		box-shadow: 2px 2px 10px 0 rgba($black, .5);
		justify-content: center;
		align-items: center;
		position: relative;
		
		@include mq(680px){
			justify-content: space-between;
		}

		&:after {
			@include mq(730px){
				content: '';
				display: block;
				width: 1px;
				height: calc(100% - 4rem);
				position: absolute;
				top: 2rem;
				background: $black;
				transform: translateX(-50%);
				left: 50%;
			}
		}

		.career-path {
			max-width: 300px;
			width: 100%;
			font-size: 1.5em;
			margin-bottom: 1rem;

			a {
				display: flex;
				align-items: center;
				justify-content: space-between;
				text-decoration: none;
				font-family: $font-heading;
				text-transform: uppercase;
				&:hover {
					.career-arrow {
						transform: scale(1.1) translateX(8px);
					}
				}
			}

			span {
				display: inline-block;
			}

			.career-icon {
				font-size: 2em;
				border-right: 1px solid $black;
				color: $black;
				padding-right: 1rem;
				margin-right: 1.5rem;
				width: 75px;
			}

			.career-title {
				width: 150px;
			}

			.career-arrow {
				font-size: 1.5em;
				transition: all 200ms linear;
			}
		}
	}
}