.admissions-featured-content {
	// border-top: 2rem solid $blue;
	padding: 0 0 3rem;
	margin-bottom: -4rem;

	&-top-bar {
		height: 2rem;
		background: $blue;
		background-image: url('static/images/blue-pattern-bg.png');
		background-repeat: repeat;
		width: 100%;
		margin-bottom: 3rem;
	}

	.feature-gallery {
		@include mq($tablet){
			@include span(6);
		}
	}

	.feature-content {
		@include mq($tablet){
			@include span(last 5);
		}

		.feature-content-title {
			font-size: 2rem;
			text-transform: uppercase;
			// font-weight: normal;
			margin-top: 0;
		}

		.feature-content-text {
			margin-bottom: 2rem;
			font-size: .75em;
		}
	}

	.slick-dots li button:before {
		color: $gold;
		font-size: 20px;
	}
	.slick-dots {
		@include mq($desktop){
			bottom: -36px;
		}
	}
}