
.site-alert-link {
	display: block;
	text-decoration: none;
	transition: none;
	border: none;
	background: none;
	color: inherit;
}

.site-alert {
	padding-top: 1rem;
	padding-bottom: 1rem;
	color: $white;
	font-weight: bold;
	font-family: $font-heading;

	.alert-wrapper {
		@include container;
		display: flex;
		align-items: center;
	}

	&.warning {
		background: $warning;
	}
	&.danger {
		background: $red;
	}
	&.info {
		background: $blue;
	}

	.alert-icon {
		font-size: 2rem;
		margin-right: 1rem;
		&.warning, &.danger {
			&:before {
				content: '\f071';
			}
		}
		&.info {
			&:before {
				content: '\f05a';
			}
		}
	}

	.alert-title {
		text-transform: uppercase;
		font-size: 1.5rem;
	}

	.alert-message {
		margin: 0 0 0 1rem;
	}
}