.container-player {
  overflow: none;
  width: 100%;
  height: 100%;
  background-color: #eee;
  overflow: hidden;
  position: relative; }
  .container-player.fullscreen-background {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0; }
  .container-player .container-player-outer {
    position: relative;
    width: 100%;
    height: 100%; }
  .container-player .container-player-inner,
  .container-player .container-player-poster {
    position: absolute;
    z-index: 0; }
  .container-player .container-player-poster {
    background-size: cover;
    z-index: 0; }
  .container-player.youtube iframe, .container-player.vimeo iframe {
    opacity: 0; }
  .container-player.youtube.transition-in.playing iframe,
  .container-player.youtube.transition-in.paused iframe, .container-player.vimeo.transition-in.playing iframe,
  .container-player.vimeo.transition-in.paused iframe {
    -webkit-animation: revealVideo 1s;
    animation: revealVideo 1s; }
  .container-player.youtube.playing iframe,
  .container-player.youtube.paused iframe, .container-player.vimeo.playing iframe,
  .container-player.vimeo.paused iframe {
    opacity: 1; }
  .container-player .container-player-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0; }

@-webkit-keyframes revealVideo {
  0%, 50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes revealVideo {
  0%, 50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .container-player video, .container-player iframe {
    width: 100%;
    height: 100%;
    border: none; }