.blog, .archive {
	
}

.post-list {
	.tease {
		margin-bottom: 2rem;
		border-bottom: 1px solid $light-grey;
		padding: 2rem 0 4rem;
	}
	.tease:first-child {
		padding: 0 0 4rem;
	}
}

.post-thumbnail {
	width: 100%;
	display: block;
	margin-bottom: 2rem;
}

.pagination {
	text-align: center;
	margin: 4em 0;
	.pages {
		display: inline-block;
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			display: inline-block;

			+ li {
				margin-left: 1em;
			}

			a {
				display: inline;
				padding: 0 .25em;
			}
		}
	}

	.next {
		margin-left: 1em;
	}
}

.pagination:empty {
	display: none;
}