.button, a.button, button, input[type="submit"] {
	height: auto;
	text-transform: uppercase;
	font-weight: 700;
	font-family: $font-heading;
	vertical-align: middle;
	white-space: normal;
	background: $blue;
	// box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.5);
	border-radius: $border-radius;
	padding: .75em 2em;
	color: $white;
	font-size: 1em;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	transition: all 100ms linear;
	-webkit-appearance: none;
	
	&:hover, &:active, &:focus {
		background: $gold;
		color: $brown;
	}

	&.is-large {
		font-size: 1.25em;
	}
}

.button.gold {
	background: $gold;
	color: $brown;
	&:hover, &:active, &:focus {
		background: $light-blue;
		color: $blue;
	}
}