.employment-internships {

	&-title {
		font-size: 2em;
		font-weight: normal;
		text-transform: uppercase;
	}

	&-list {
		list-style: none;
		margin: 4rem auto 2rem;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		max-width: 600px;
		justify-content: center;
		align-items: stretch;
		position: relative;

		@include mq($tablet){
			max-width: 960px;
			justify-content: space-between;
		}

		.employment-internship {
			background: $white;
			box-shadow: 2px 2px 10px 0 rgba($black, .5);
			padding: 1rem 1.5rem;
			max-width: 450px;
			width: 100%;
			margin-bottom: 2rem;
			font-family: $font-heading;

			a {
				display: flex;
				align-items: center;
				justify-content: space-between;
				text-decoration: none;
				&:hover {
					.job-arrow {
						transform: scale(1.1) translateX(8px);
					}
				}
			}

			.job-details {
				width: 90%;
				border-left: 1px solid $black;
				padding-left: 1.5rem;
			}

			.job-posted {
				color: $black;
				font-size: .75em;
				text-transform: uppercase;
				font-weight: normal;
			}

			.job-title {
				font-size: 1.25em;
				text-transform: uppercase;
				// font-weight: normal;
			}

			.job-location {
				color: $black;
				font-size: 1em;
				font-family: $font-body;
			}

			.job-arrow {
				font-size: 2em;
				transition: all 200ms linear;
			}
		}
	}
}