.featured-events {
	
}

.featured-events-title-wrapper {
	background: $blue;
	background-image: url('static/images/blue-pattern-bg.png');
	background-repeat: repeat;
	color: $white;
	padding: 1.5rem 0;
	text-align: center;
}

.featured-events-title {
	text-transform: uppercase;
	// font-weight: normal;
	margin: 0;
	font-size: 2.25rem;
}

.featured-events-description {
	margin-bottom: 2rem;
}

.mcc-event-wrapper {
	.tribe-mini-calendar-wrapper {
		font-family: $font-heading;
		padding: 2rem 0;
		@include mq($calendar-breakpoint){
			display: flex;
			align-items: center;
		}

		.tribe-mini-calendar-grid-wrapper {
			@include mq($calendar-breakpoint){
				width: 50%;
				padding: 2rem;
			}
		}

		.tribe-mini-calendar-list-wrapper {
			@include mq($calendar-breakpoint){
				width: 50%;
				padding-left: 2rem;
				border-left: 1px solid $black;
			}
		}
	}

	.tribe-mini-calendar thead, .tribe-mini-calendar-nav td, .tribe-mini-calendar th {
		background: none;
		color: $black;
		border: none;
	}

	.tribe-mini-calendar-nav span {
		font-size: 2em;
		padding: 1rem .25rem;
	}
	.tribe-mini-calendar th {
		text-transform: none;
		padding: 1rem 0;
		font-weight: normal;
	}

	.tribe-mini-calendar td {
		background: none;
		width: calc(100% / 7);
		padding-bottom: calc(100% / 7);
		height: 0;
		position: relative;

		&.tribe-events-has-events.tribe-mini-calendar-today, &.tribe-events-has-events.tribe-events-present {
			background: none;
			> div {
				background: $gold;
			}
		}

		> div {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		span, a {
			color: $black;
			position: relative;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: none;
			padding: 0;
		}

		&.tribe-events-has-events {
			background: none;
			&:hover {
				background: none;
				 > div {
				 	background: $gold;
				 }
			}
			> div {
				background: $light-blue;
				border-radius: 50%;
				margin: 6px;
			}
		}

		&.tribe-events-has-events div[id*='daynum-'] a {
			padding: 0;
			background: none;
			color: $blue;
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			&:before {
				display: none;
			}
		}

		&.tribe-mini-calendar-today span {
			background: $gold;
			color: $brown;
			border-radius: 50%;
		}
	}
	.tribe-mini-calendar-list-wrapper {
		.tribe-event-featured, .tribe-events-duration {
			color: $black;
		}

		.tribe-event-featured .tribe-mini-calendar-event {
			background: none;
		}

		.tribe-mini-calendar-event {
			display: flex;
			padding-bottom: 0;
			margin-top: 0;
			margin-bottom: 0;
			border: none;
		}

		.type-tribe_events {
			text-transform: none;
			margin: 0 0 1rem 0;
			padding-bottom: 1rem;
			border-bottom: 1px solid $black;

			&:last-child {
				border: none;
				margin: 0;
				padding: 0;
			}

			.list-date {
				float: none;
				width: auto;
				background: none;
				text-align: center;
				font-size: .8em;
				display: block;
				margin: 0;
				padding: 0;
				margin-right: 1.5rem;
				border-right: 1px solid $black;
				padding-right: 1.5rem;
				line-height: 1.1;
				color: $black;
				margin-top: 0;
				margin-bottom: 0;

				.list-daynumber {
					display: block;
					font-size: 1.75rem;
					font-weight: bold;
					color: $black;
					line-height: 1;
				}
			}

			.list-info {
				padding: 0;
				margin: 0;
				max-width: 80%;
				font-size: 80%;

				.tribe-events-title {
					margin: 0;
					a {
						font-weight: normal;
						color: $black;
					}
				}
				a {
					color: $blue;
				}
			}
		}
	}
}