#footer {
	.quick-resources {
		background: $blue;
		color: $white;
		padding: 2rem 0;

		&__title {
			font-size: 1.5em;
			text-transform: uppercase;
			margin: 0;
			line-height: 1;
		}
	}

	.quick-resources-left-wrapper {
		@include mq($tablet){
			@include span(9);
			border-right: 2px solid $white;
			padding-right: 2rem;
		}
	}

	.quick-resources-right-wrapper {
		@include mq($small-tablet){
			width: 50%;
			margin: 0 auto;
		}
		@include mq($tablet){
			margin: 0;
			@include span(last 3);
			padding-left: 1rem;
		}
	}

	#footer-menu {
		list-style: none;
		margin: 0;
		padding: 0;
		margin-top: 1rem;

		@include mq($small-tablet){
			display: flex;
			flex-wrap: wrap;
		}

		li {
			margin-bottom: 1rem;
		}
		
		li + li {
			@include mq($small-tablet){
				margin-left: 2rem;
			}
		}

		a {
			color: $white;
			font-size: 1em;
			font-weight: normal;
			font-family: $font-heading;
		}

		.sub-menu {
			display: none;
		}
	}

	.map {
		@include mq($tablet){
			@include span(6 of 9);
		}
		margin-bottom: 2rem;
		a, img {
			display: block;
			width: 100%;
		}
	}

	.footer-events {
		margin-top: 2rem;
		@include mq($small-tablet){
			width: 50%;
			margin: 2rem auto 0;
		}
		@include mq($tablet){
			margin: 0;
			@include span(last 3 of 9);
		}
	}

	.block-link {
		background: $white;
		display: block;
		margin-bottom: 1.5rem;
		font-size: 1.25em;
		border-radius: $border-radius;
		padding: 1rem .5rem;
		color: $blue;
		text-transform: uppercase;
		font-family: $font-heading;
		text-decoration: none;

		.fa, .footer-icon {
			margin: 0 .5rem;
			// font-size: 1.5em;
			vertical-align: middle;
		}

		&:hover {
			color: $brown;
			background: $gold;
		}
	}

	.social-media-links {
		display: flex;
		justify-content: space-between;
		a {
			display: block;
			margin: .5rem;
			color: $white;
			font-size: 2.5em;
			text-decoration: none;

			&:hover {
				color: $gold;
			}
		}
	}

	.fe-wrapper {
		list-style: none;
		margin: 0;
		padding: 0;

		.f-event {
			text-transform: uppercase;
			margin: 1rem 0;

			a {
				display: flex;
				font-weight: normal;
				color: $white;
			}
			.date {
				text-align: center;
				font-size: .8em;
				display: block;
				margin-right: 1rem;
				border-right: 1px solid $white;
				padding-right: 1rem;
				line-height: 1.1;

				.day {
					display: block;
					font-size: 1.75rem;
					font-weight: bold;
				}
			}

			.details {
				.title {
					font-weight: bold;
				}
			}
			
		}
	}

	.affiliations {
		margin-top: 2rem;
		.affiliation {
			display: block;
			margin-bottom: 2rem;
			@include span(4);
			&:nth-child(3n){
				@include span(last 4);
			}
			&:last-child {
				@include span(last 4);
			}
			@include mq($tablet){
				@include span(2);
				&:nth-child(3n){
					@include span(2);
				}
				&:last-child {
					@include span(last 2);
				}
			}
			img {
				display: block;
				margin: 0 auto;
			}
		}
	}

	.quick-connect {
		a {
			display: block;
			@include span(last 200px);
			width: 200px;
			background: $gold;
			color: $brown;
			padding: 1rem 2rem;
			border-radius: 100px;
			font-family: $font-heading;
			line-height: 1;
			position: relative;
			box-shadow: 0 1px 4px 0 rgba(0,0,0,0.5);
			text-transform: uppercase;

			&:hover {
				box-shadow: 0 1px 6px 0 rgba(0,0,0,0.75);
			}

			span {
				text-transform: none;
				font-size: .75em;
			}

			&:after {
				content: '';
				display: block;
				width: 60px;
				height: 60px;
				border: 2px solid $white;
				border-radius: 50%;
				background-image: url('static/images/shield.jpg');
				background-size: cover;
				background-position: center center;
				position: absolute;
				top: 0;
				right: 0;
			}
		}
	}
}

// Agency Credit
#footer .agency {
	padding-bottom: 1rem;
	font-size: .75rem;
}

body .wrap-embed-contact-form {
	
	.embed-contact-form a.btn-show-contact {
		img {
			display: none;
		}

		left: -252px;
		top: 100%;
		display: block;
		@include span(last 200px);
		width: 200px;
		background: $light-blue;
		color: $blue;
		padding: 1rem 2rem;
		border-radius: 100px;
		font-family: $font-heading;
		line-height: 1;
		// position: relative;
		box-shadow: 0 1px 4px 0 rgba(0,0,0,0.5);
		text-transform: uppercase;

		&:hover {
			box-shadow: 0 1px 6px 0 rgba(0,0,0,0.75);
		}

		span {
			text-transform: none;
			font-size: .75em;
		}

		&:after {
			content: '';
			display: block;
			width: 60px;
			height: 60px;
			border: 2px solid $white;
			border-radius: 50%;
			background-image: url('static/images/shield.jpg');
			background-size: cover;
			background-position: center center;
			position: absolute;
			top: 0;
			right: 0;
		}
	}
}