.ginput_container .ginput_container_repeater-end {
	> span {
		margin: 1rem;
		display: inline-block !important;

		img {
			vertical-align: text-bottom;
		}
	}
}

input[type="text"], textarea, input[type="email"], input[type="phone"], select {
	border-color: $black;
	border-width: 1px;


	&:focus {
		outline: 1px solid $gold;
		border-color: $gold;
	}
}

.gform_wrapper .gfield_checkbox li input, .gform_wrapper .gfield_checkbox li input[type=checkbox], .gform_wrapper .gfield_radio li input[type=radio] {
	vertical-align: baseline;
}
