a {
	text-decoration: none;
	color: $blue;
	font-weight: bold;
	cursor: pointer;
	transition: all 100ms linear;
	&:hover {
		text-decoration: underline;
	}
}

.readmore {
	text-transform: uppercase;
	font-family: $font-heading;
}

[type="text/template"] {
	display: none;
}

.table-row {
	display: table-row;

	> * {
		display: table-cell;
	}
}

.narrow-container {
	max-width: 960px;
	margin: 0 auto;
}

.top-bottom-padding {
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.top-bottom-padding-small {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.mfp-content {
	[type="text/template"] {
		display: block;
	}
}

.mfp {
	background: $white;
	width: 90%;
	max-width: 75em;
	margin: 0 auto;
	position: relative;
	padding: 2rem;
}

.mfp-close {
	margin: 0;
}

/**
 * Pages
 */

.pattern-bg {
	background-image: url('static/images/pattern-bg.png');
	background-repeat: repeat;
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.blue-dividing-line {
	height: 2rem;
	background: $blue;
	background-image: url('static/images/blue-pattern-bg.png');
	background-repeat: repeat;
	width: 100%;
}

.has-sidebar:not(.blog) {
	#content {
		margin-top: 1rem;
	}

	.article-wrapper {
		margin-bottom: 2rem;

		@include mq($tablet){
			@include span(last 9 of 12);
			border-left: 2px solid $black;
			padding-left: 2rem;
		}
	}
}

.page-sidebar {
	@include mq($tablet){
		@include span(3 of 12);
	}
}

.has-sidebar {
	#content {
		margin-top: 1rem;
	}
	.post-list {
		@include span(last 9 of 12);
		border-left: 2px solid $black;
		padding-left: 2rem;
		margin-bottom: 2rem;
	}
}

.page-banner-image {
	height: 400px;
	background-size: cover;
	background-position: center center;
	margin-top: -1rem;
	margin-bottom: 2rem;
}

#breadcrumbs {
	// font-size: 75%;
	margin-bottom: 2rem;
	font-family: $font-heading;
	a {
		text-decoration: underline;
		font-weight: normal;
	}
}

.landing-page-banner-image {
	max-width: 100%;
	margin: 0 auto;

	img {
		width: 100%;
	}
}

.cta-links {
	margin: 4rem 0;

	.cta-links__link-wrapper {
		margin-bottom: 2rem;
		@include mq($tablet){
			@include span(3);
			margin-bottom: 0;
			&:last-child {
				@include span(last 3);
			}
		}

		a:nth-of-type(2) {
			color: $cta;
		}
	}

	.cta-links__label {
		font-size: 2em;
		font-family: $font-heading;
		text-transform: uppercase;
		font-style: bold;
		color: $white;
		background-size: cover;
		line-height: 1;
		height: 10rem;
		display: flex;
		align-items: flex-end;
		vertical-align: bottom;
		padding: 1rem;
		position: relative;
		text-decoration: none;

		&:hover {
			&:after {
				background: rgba($gold, .7);
			}
		}

		span {
			position: relative;
			z-index: 1;
		}

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba($black, .6);
			z-index: 0;
			transition: all 200ms linear;
		}
	}

	.cta-links__description {
		font-size: .75em;
	}

	a {
		font-size: .75em;
		text-transform: uppercase;
		cursor: pointer;
		font-family: $font-heading;
	}
}

.bottom-shadow {
	position: relative;
	&:after {
		content: '';
		position: absolute;
		bottom: -1px;
		height: 1px;
		width: 100%;
		display: block;
		box-shadow: 0 2px 13px 0 rgba($black, .75);
	}
}

.landing-page-resource-links {
	// box-shadow: 0 2px 13px 0 rgba($black, .3);
	padding: 3.5rem 0;
	text-align: center;

	.resource-links-title {
		font-size: 2.25em;
		// font-weight: normal;
		margin: 0 0 2rem;
		text-transform: uppercase;
	}

	.resource-links {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-wrap: wrap;

		.resource-link {
			max-width: 120px;
			margin: 1rem 3rem;

			a {
				display: block;
				color: $black;
				font-weight: normal;
			}
			img {
				display: block;
				margin: 0 auto;
				max-width: 120px;
			}
		}
	}
}

.plugin-container {
	margin-top: 4rem;
	margin-bottom: 4rem;
}

.gallery {
	margin: 2rem 0 !important;

	.gallery-item {
		padding: 0 .5rem;
		a {
			display: inline-block;
			text-decoration: none;
		}
		img {
			border: none !important;
		}
	}
}

.page-template-template-job-list, .page-template-template-alumni-job-list {
	.employment-list-wrapper {
		.employment-internship {
			max-width: 420px;
		}
	}
}