#header {
	margin-top: gutter();
	font-family: $font-heading;

	.container {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}

	.main-nav-wrapper {
		margin-bottom: 1rem;
	}

	.nav-wrapper {
		background: $blue;
		display: none;
		&:after {
			content: "Loading Menu...";
			display: block;
		}
		&.loaded {
			display: block;
			&:after {
				content: "";
				display: none;
			}
		}
	}
} // #header

#logo {
	display: block;
	@include span(4);
	@include mq($tablet){
		@include span(2);
	}
}

#header .header-search {
	// font-size: .8em;
	
	.search-fields-wrapper {
		position: relative;
		&:before {
			content: '\f002';
			font-family: 'FontAwesome', sans-serif;
			position: absolute;
			top: .2rem;
			left: .5rem;
		}
	}
	#searchform {
		input[type="text"]{
			display: block;
			width: 100%;
			margin: 0;
			border: 1px solid $black;
			border-radius: 2rem;
			padding: .25rem 0 .25rem 1.75rem;
			font-family: $font-heading;
		}
		#searchsubmit {
			position: absolute; 
			overflow: hidden; 
			clip: rect(0 0 0 0); 
			height: 1px; width: 1px; 
			margin: -1px; padding: 0; border: 0; 
		}
	}
}

#nav-main {
	position: relative;
}

#header #primary-menu {
	@include span(8);
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	list-style: none;
	display: flex;
	justify-content: flex-start;
	
	a {
		color: $white;
		padding: 1.5rem 1.25rem;
		display: inline-block;
		text-transform: uppercase;
	}

	> li:hover, li:focus {
		a {
			background: $white;
			color: $blue;
			text-decoration: none;
		}
	}

	> .menu-item-has-children {
		&:hover, &:focus {
			.mega-menu-wrapper {
				opacity: 1;
				pointer-events: auto;
			}
		}
		> a {
			&:hover, &:focus, &.has-focus {
				~ .mega-menu-wrapper {
					opacity: 1;
					pointer-events: auto;
				}
			}
		}
	}

	.mega-menu-wrapper {
		position: absolute;
		background: $white;
		@include container(10 center);
		width: 100%;
		opacity: 0;
		pointer-events: none;
		z-index: 100;
		left: 0;
		box-shadow: 2px 8px 24px -12px $black;

		&[data-has-focus="true"] {
			opacity: 1;
			pointer-events: auto;
		}

		.sub-menu {
			@include span(2 of 10);
			&:nth-child(5) {
				@include span(last 2 of 10);
			}
			list-style: none;
			padding: 0;
			margin: 0;
			margin-bottom: 2rem;
			padding-left: 2rem;

			li {
				border-left: 1px solid $grey;

				a {
					text-transform: none;
					display: block;
					color: $black;
					font-size: .8em;
					padding: .25rem;
					padding-left: 1rem;
					font-weight: normal;

					&:hover {
						background: $light-grey;
					}
				}
			}

			.sub-menu-header {
				border-left: none;
				margin-top: 2rem;
				a {
					text-transform: uppercase;
					padding-left: 0;
					color: $blue;
					font-size: 1rem;
					font-weight: bold;

					&:hover, &:focus {
						background: none;
					}
				}
			}
		}
	}
}

#header #tertiary-menu {
	@include span(last 4);
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	list-style: none;
	display: flex;
	justify-content: flex-start;

	li:first-child {
		margin-right: 1rem;
	}

	a {
		color: $white;
		display: inline-block;
		text-transform: uppercase;
		border-radius: $border-radius;
		font-size: .75em;
		padding: .5rem 1.5rem;

		&:hover, &:focus {
			background: $white;
			color: $gold;
			text-decoration: none;
		}
	}

	li:first-child {
		a {
			background: $light-blue;
			color: $blue;

			&:hover, &:focus {
				background: $white;
				color: $blue;
			}
		}
	}
	li:last-child {
		a {
			background: $white;
			color: $blue;
			&:hover, &:focus {
				background: $gold;
				color: $brown;
			}
		}
	}
}

#header #primary-menu, #tertiary-menu {
	> li > a {
		font-size: .75em;
		@include mq($desktop){
			font-size: 1em;
		}
	}
}

#header #nav-secondary {
	@include span(12);
	display: flex;
	align-items: center;
	
	@include mq($desktop){
		@include span(last 9);
	}

	#secondary-menu {
		@include span(6 of 9);
		
		margin-top: 1rem;
		margin-bottom: 1rem;
		padding: 0;
		list-style: none;
		display: flex;
		justify-content: flex-end;

		li {
			margin: 0 1.5rem;
		}

		a {
			text-transform: uppercase;
			display: inline-block;
			color: $black;
			font-weight: bold;
			font-family: $font-heading;
			font-size: .75em;
			text-decoration: none;

			&:hover, &:focus {
				color: $cta;
				text-decoration: underline;
			}

			.fa {
				margin-right: .25rem;
			}
		}

		.sub-menu {
			display: none;
		}
	}
	.header-search {
		@include span(last 3 of 9);
	}
}

@include mq($until: $menu-breakpoint){
	#header {
		#nav-secondary, .nav-wrapper, .nav-wrapper.loaded {
			display: none;
		}
	}
}

.mobile-menu-open {
	overflow-y: hidden;
}

.menu-toggle-container {
	position: absolute;
	top: 1rem;
	right: 1rem;
	display: block;
	z-index: 20;
	transition: all 200ms ease-in-out;

	.mobile-menu-open & {
		right: 0;
		transform: translateX(-300px);
		background: $blue;
		
		button {
			color: $white !important;
			background: $blue !important;
		}
	}

	@include mq($menu-breakpoint){
		display: none; 
	}

	button {
		background: none !important;
		font-size: 2em;
		-webkit-appearance: none;
		border: none;
		cursor: pointer;
		color: $black !important;
		padding: .25rem;

		&:hover, &:active {
			background: none;
			color: inherit;
		}
	}
}

.mobile-menu {
	background: $blue;
	color: $white;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	width: 300px;
	z-index: 100;
	transform: translateX(300px);
	transition: all 200ms ease-in-out;
	padding: .5rem .5rem 1rem .5rem;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	height: 100vh;

	.mobile-menu-open & {
		@include mq($until: $menu-breakpoint){
			transform: translateX(0);
		}
	}

	ul {
		padding: 0;
		margin: 0;
		list-style: none;

		a {
			display: block;
			margin-bottom: .5rem;
			padding: .5rem 0;
			color: $white;
			font-family: $font-heading;
		}
	}

	#secondary-menu {
		order: 1;
		display: flex;
		flex-wrap: wrap;
		flex: 0 0 auto;

		li {
			width: 50%;
			a {
				text-transform: uppercase;

				.fa {
					margin-right: .5em;
				}
			}
		}
	}

	#primary-menu {
		order: 3;
		flex: 0 0 auto;

		> li {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			.mega-menu-wrapper {
				width: 100%;
				order: 3;
				padding-left: 1rem;
				display: none;
			}

			button {
				padding: .25em;
				order: 2;
				width: 2rem;
				height: 2rem;
				position: relative;

				.fa {
					position: relative;
					top: -2px;
					left: 1px;
				}
			}
		}

		.show-mega-menu {
			.mega-menu-wrapper {
				display: block;
			}
			.sub-menu-trigger .fa {
				transform: rotate(90deg);
				transform-origin: center center;
			}
		}
	}

	#tertiary-menu {
		order: 2;
		text-align: center;
		flex: 0 0 auto;
		margin: 2rem 0;

		> li > a {
			background: $white;
			border-radius: $border-radius;
			padding: .5em .5em;
			text-transform: uppercase;
			font-weight: 700;
			color: $gold;
			// max-width: 150px;
			font-size: 1rem;
			text-decoration: none;
			cursor: pointer;

			&:hover {
				color: $brown;
				background: $gold;
			}
		}
	}

	.mobile-search {
		order: 4;
		flex: 0 0 auto;
		margin-top: 2rem;

		form > div {
			display: flex;
			justify-content: space-between;
			
			input[type="text"] {
				border-radius: $border-radius;
				max-width: 180px;
				position: relative;
				top: -1px;
			}
			input[type="submit"] {
				padding: .5em;
				background: $white;
				color: $gold;
			}
		}
	}
}