.home {
	
	.home-image-slider {
		max-width: 100%;
		margin: 0 auto;
		background: $gold;
		display: none;

		&.slick-initialized {
			display: block;
		}

		img {
			width: 100%;
		}
	}

	.video-spotlight {
		background: url('static/images/pattern-bg.png');
		background-size: cover;
		padding: 3rem 0;
		position: relative;

		&:before {
			content: '';
			background: $blue;
			position: absolute;
			height: 6rem;
			top: 0;
			left: 0;
			right: 0;
		}

		.slick-prev {
			display: none !important;
		}

		.slick-next { 
			right: 0;
			@include mq(1440px){
				right: -6rem;
			}
			@include mq($until: 1440px){
				top: auto;
				bottom: 0;
				transform: none;
				width: 2rem;
				height: 2rem;
				right: 2rem;

				&:hover {
					transform: none;
				}
			}
			&:before {
				font-size: 6rem;
				@include mq($until:1440px){
					font-size: 2rem;
				}
				color: $blue;
			}
		}

		.video-wrapper {
			display: flex;
			flex-wrap: wrap;
		}

		.video-embed {
			@include span(12);
			@include mq($tablet){
				@include span(5);
			}
			@include mq($desktop){
				@include span(6);
			}
			align-self: flex-end;
		}

		.video-details {
			@include span(12);
			@include mq($tablet){
				@include span(last 6);
				padding-top: 4rem;
				padding-left: gutter();
			}

			p, a {
				font-size: .75em;
			}
		}
		
		.video-title {
			font-size: 2em;
			text-transform: uppercase;
			line-height: 1;
		}
	}

	.get-involved {
		background: $light-blue;
		color: $blue;
		padding: 2rem 0;

		.container {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
		}

		.get-involved__information {
			@include span(12);
			@include mq($desktop){
				@include span(7);
				display: flex;
			}
			align-items: stretch;
		}

		.divider {
			width: 2px;
			flex: 1 0 auto;
			margin: .5rem 1.5rem;
			background: $blue;

		}

		.get-involved__information-title {
			flex: 1 0 auto;
			text-transform: uppercase;
			font-size: 1.5em;
			font-weight: bold;
			margin: 0;
			align-self: center;
		}

		.get-involved__icons-wrapper {
			@include span(12);
			margin: 1rem 0 0;
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			justify-content: space-around;
			@include mq($desktop){
				@include span(last 5);
				margin: 0;
				justify-content: flex-end;
			}
		}

		.get-involved__icon {
			display: block;
			width: 6rem;
			margin: 1rem .5rem;
			flex: 0 0 6rem;
			color: $blue;
			font-family: $font-heading;
			font-weight: bold;
			text-align: center;
			text-decoration: none;

			&:hover {
				.fa {
					background: $white;
					color: $blue;
					border-color: $white;
				}
			}

			.fa {
				width: 4rem;
				height: 4rem;
				font-size: 1.5rem;
				border: 3px solid $blue;
				border-radius: 50%;
				display: flex;
				align-items: center;
				justify-content: center;
				margin: 0 auto .5rem;
			}
		}
		.get-involved__icon-text {
			// font-size: .75em;
		}
	}
	
	$slick-mobile-arrow-size: 2rem;
	$slick-arrow-size: 4rem;

	.slick-next, .slick-prev {
		height: $slick-mobile-arrow-size;
		width: $slick-mobile-arrow-size;
		@include mq($desktop){
			height: $slick-arrow-size;
			width: $slick-arrow-size;
		}
		z-index: 10;
		transition: all 100ms linear;

		&:hover {
			transform: scale(1.1) translate(0, -50%);
		}

		&:before {
			font-family: 'FontAwesome', 'slick';
			opacity: 1;
			font-size: $slick-mobile-arrow-size;
			font-weight: normal;
			@include mq($desktop){
				font-size: $slick-arrow-size;
			}
		}
	}

	.slick-next {
		right: .5rem;
		@include mq($desktop){
			right: 2rem;
		}
		&:before {
			content: '\f105';
		}
	}

	.slick-prev {
		left: .5rem;
		@include mq($desktop){
			left: 2rem;
		}
		&:before {
			content: '\f104';
		}
	}
}