#jobs-embed-map {
	height: 400px;
	margin: 2rem 0;
	background: $gold;
}
.jobs-embed-complex {

	table {
		font-size: .75em;
		a {
			font-weight: normal;
		}
		td {
			padding: .5rem;
		}
		thead {
			font-weight: bold;
			text-transform: uppercase;
		}
		.odd {
			background: $light-grey;
		}
	}
	.job-row {
		[class*="job-"] {
			
		}
	}

	// .job-org {
	// 	max-width: 200px;
	// }

	// .job-date {
	// 	min-width: 100px;
	// }

	// .job-state {
	// 	min-width: 100px;
	// }

	// .job-city {
	// 	min-width: 100px;
	// }
	.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
		background: $gold;
		color: $brown !important;
		border-color: transparent;

		&.disabled {
			background: none;
		}
	}
}

.jobs-embed-simple {
	.employment-internship {
		max-width: 400px;
	}
}