.sidebar-nav {
	list-style: none;
	font-family: $font-heading;
	padding: 0;
	margin: 0;
	margin-bottom: 2rem;
	
	.sub-menu {
		list-style: none;
		padding-left: 1rem;
	}

	li {
		margin-bottom: 1rem;
	}

	a {
		color: $black;
		text-decoration: none;
		display: inline-block;
		max-width: 75%;

		&:hover {
			color: $gold;

			// ~ .expand-sub-menu .fa {
			// 	color: $gold;
			// }
		}
	}

	> li > a {
		text-transform: uppercase;
	}

	.sub-menu {
		clip: rect(1px, 1px, 1px, 1px);
		position: absolute;
		height: 1px;
		width: 1px;
		overflow: hidden;
		margin-top: 1rem;
		
		&.show {
			clip: auto;
			position: static;
			height: auto;
			width: auto;
		}
	}

	.expand-sub-menu {
		background: none;
		border: none;
		font-size: .75em;
		vertical-align: top;
		margin-left: .5rem;
		color: $black;
		padding: .25rem .5rem;

		&:hover {
			cursor: pointer;
			color: $gold;
			background: none;
		}

		&.dropdown-open {
			transform: scaleY(-1);
		}
		
		.fa {
			transition: all 200ms linear;
			color: inherit;
		}
	}

	~ .sidebar-content {
		// border-top: 1px solid $black;
		// margin-top: 1rem;
	}
}

.sidebar-buttons {
	border-top: 1px solid $black;
	border-bottom: 1px solid $black;
	padding-top: 2rem;
	max-width: 12rem;

	a {
		display: block;
		background: $blue;
		color: $white;
		padding: .5rem 1rem;
		border-radius: $border-radius;
		display: flex;
		font-size: .8em;
		align-items: center;
		margin-bottom: 1.5rem;
		text-decoration: none;
		font-family: $font-heading;
		text-transform: uppercase;
		justify-content: center;

		&:last-child {
			margin-bottom: 2rem;
		}

		&:hover {
			background: $gold;
			color: $brown;
		}

		.fa {
			font-size: 2em;
			margin-right: 1rem;
		}
	}
}