$white: #FFF;
$black: #1E2D3E;
$red: #DF252C;
$old-blue: #1E2D3E;
$blue: #041E42;
$gold: #DAA14C;
$light-grey: lighten( $black, 75% );
$grey: #BCBEC0;
$dark-grey: #4A4A4A;
$cta: #1a4eb2;

$light-blue: #95B8D4;

$brown: #4B3F23;

$warning: #FFCC00;

$border-radius: 5px;

$font-heading: 'Lato', Helvetica, Arial, sans-serif;
$font-body: 'Roboto Slab', Times New Roman, serif;

$small-tablet: 400px;
$tablet: 900px;
$desktop: 1220px;

$calendar-breakpoint: 600px;

$menu-breakpoint: 1000px;