/**
 * Theme Name: MCC Theme
 * Author: 502 Media Group
 * Author URI: http://502mediagroup.com/
 * Version: 1.2
 */
@import "reset";
@import "mq";
@import "susy";
* {
	box-sizing: border-box;
}
template {
  display: none !important;
}
@import "variables";
@import "grid";
@import "forms";
@import "datatables";
@import "tables";
@import "utilities";

html, body {
    -webkit-font-smoothing: antialiased;
	font-size: 16px;
	line-height: 1.5;
	font-family: $font-body;
	overflow-x: hidden;
	background: transparent;
	color: $black;
	background: $white;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-heading;
}

h1 {
	text-transform: uppercase;
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.17em;
}

h4, h5, h6 {
	font-size: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
}

img {
	max-width: 100%;
	height: auto;
}
@import "header";
@import "alert";
@import "footer";
@import "global-patterns";
@import "buttons";

@import "tinymce";
@import "blog";
@import "events";
@import "sidebar";
@import "comments";
@import "home";
@import "academics";
@import "campus-life";
@import "admissions";
@import "nested-landing-page";
@import "bg-video";
@import "jobs";